<section class="section">

	<div class="header-space"></div>
	
	<div class="wrap  wrap--small  text-center  relative">
		<div class="text  relative  title">
			<h1 class="title-xlarge  margin-v-large">{{title}}</h1>
		</div>
	</div>

	<div class="wrap  wrap--small  text  text-medium">
		{{text}}
	</div>

</section>