/* --------------------------------- *\

	Helpers
	
\* --------------------------------- */

// for desktop
body.no-scroll {
    overflow: hidden;
}

.relative {
	position: relative;
}

.absolute {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg-cover {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.border {
	border-width: 1px;
	border-style: solid;
}

.border-t { border-top-width: 1px; border-top-style: solid; }
.border-b { border-bottom-width: 1px; border-bottom-style: solid; }
.border-r { border-right-width: 1px; border-right-style: solid; }
.border-l { border-left-width: 1px; border-left-style: solid; }

.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-flick {
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.line-break {
	display: block;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
	.line-break {
		display: none;
	}
}

// source: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
.dont-break-out {

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;

}

// https://stackoverflow.com/a/41566570
.cryptedmail:after {
	content: attr(data-address) "@" attr(data-domain); 
}

.off-screen {
	position: absolute;
	left: -10000px;
}




