/* --------------------------------- *\

	Color theme
	
\* --------------------------------- */

:root {

	// black and white
	--color-white: #fff;
	--color-black: #1D1D1F;

	// main colors
	--color-main: #588FFB;
	--color-main-hover: #2f7afc;
	--color-main-light: #93ADDE;
	--color-comp: #222D39;

	// gray
	--color-gray: #96969E;
	--color-gray-light: #ededef;

	// text colors
	--color-text: var(--color-gray);
	--color-text-white: var(--color-white);
	--color-title: var(--color-comp);

	// backgrounds
	--color-bg: #F3F5FA;
	--color-bg-dark: #E1E6F3;

	// button
	--color-button: var(--color-main);
	--color-button-hover: var(--color-main-hover);

	// color error
	--color-error: #FB588F;

}

html,
body {
	color: var(--color-text);
}

a, .color-main-text {
	color: var(--color-main);
}




