// import the mixins
// @import "../../../../vcms/_scss/text";
// @import "text";

/* --------------------------------- *\

	Define Font

	@source https://google-webfonts-helper.herokuapp.com/fonts/montserrat?subsets=latin,latin-ext
	
\* --------------------------------- */

/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v15-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}





/* --------------------------------- *\

	Basic text stuff
	
\* --------------------------------- */

:root {
	--font-title: 'DM Serif Display', 'Times New Roman', sans-serif;
	--font-main: 'Open Sans', 'Arial', sans-serif;
}

html,
body,
select,
input,
textarea {
	font-family: var(--font-main);
	line-height: 100%;
	-webkit-text-size-adjust: 100%;
	color: var(--color-text);
}

a {
	text-decoration: none;
	&:hover { color: var(--color-main-hover); }
}

em {
	font-style: italic;
}

.text-upper {
	text-transform: uppercase;
}

.text-strong,
strong {
	font-weight: 700;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.font-secondary {
	font-family: var(--font-title);
}

.title-xlarge,
.title-large,
.title-default,
.title-small {
	font-family: var(--font-title);
	line-height: 1em;
	color: var(--color-title);
}

.intro {
	.title-xlarge,
	.title-large,
	.title-default,
	.title-small {
		color: var(--color-text-white);
	}
}

.intro--pricing {
	.title-xlarge,
	.title-large,
	.title-default,
	.title-small {
		color: var(--color-title);
	}
}

.learn-more {
	font-weight: bold;
	display: inline-flex;
	align-items: center;

	> svg {
		margin-top: .1em;
		width: .6em;
		height: .6em;
		margin-left: 1em;
		fill: var(--color-main);
	}

	&:hover {
		color: var(--color-main-hover);
		> svg { fill: var(--color-main-hover); }
	}
}





/* --------------------------------- *\

	Text Container
	
\* --------------------------------- */

.text {
	font-size: 1em;
	line-height: 1.5em;

	// title

	&.title-xlarge,
	.title-xlarge {
		font-size: 3.75em;
		line-height: 1em;
		font-family: var(--font-title);
		color: var(--color-title);
	}

	&.title-large,
	.title-large {
		font-size: 2.8125em;
		line-height: 1em;
		font-family: var(--font-title);
		color: var(--color-title);
	}

	h2,
	&.title-default,
	.title-default {
		font-size: 2.25em;
		line-height: 1.2em;
		font-family: var(--font-title);
		color: var(--color-title);
	}

	h3,
	&.title-small,
	.title-small {
		font-size: 1.75em;
		line-height: 1.2em;
		font-family: var(--font-title);
		color: var(--color-title);
	}

	// text

	&.text-xlarge,
	.text-xlarge {
		font-size: 1.875em;
		line-height: 1.25em;
	}

	&.text-large,
	.text-large {
		font-size: 1.25em;
	}

	&.text-medium,
	.text-medium {
		font-size: 1.125em;
	}

	&.text-default,
	.text-default {
		font-size: 1em;
	}

	&.text-small,
	.text-small {
		font-size: 0.875em;
	}

	&.text-xsmall,
	.text-xsmall {
		font-size: 0.750em;
	}

	p + p,
	p + ul,
	p + ol,
	ul + ul,
	ul + p,
	ul + ol,
	ol + ol,
	ol + p,
	ol + ul,
	h2 + p,
	h2 + ul,
	h2 + ol,
	h3 + p,
	h3 + ul,
	h3 + ol {
		margin-top: 1.5em;
	}

	h2 + h2,
	 p + h2,
	ol + h2,
	ul + h2,
	h3 + h2 {
		margin-top: .65em;
	}

	h3 + h3,
	 p + h3,
	ol + h3,
	ul + h3,
	h2 + h3 {
		margin-top: .75em;
	}

	ul, ol {
		margin-left: 3rem;
	}

	li + li {
		margin-top: .25em;
	}

	ul > li {
		list-style-type: disc;
	}

	ol > li {
		list-style-type: decimal;
	}

}

// update mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.text {

		&.text-xlarge,
		.text-xlarge {
			font-size: 2.5em;
		}

		h2,
		&.title-default,
		.title-default {
			font-size: 2em;
		}

		h3,
		&.title-small,
		.title-small {
			font-size: 1.5em;
		}

		&.text-large,
		.text-large {
			font-size: 1.8em;
		}

		&.text-default,
		.text-default,
		&.text-medium,
		.text-medium {
			font-size: 1.6em;
			line-height: 1.5em;
		}

	}

	.footer {

		.text {

			&.text-small,
			.text-small {
				font-size: 1.6em;
				line-height: 1.5em;
			}

		}

	}

	// extra padding for the title on mobiles
	.title {
		padding: 0 3rem;
	}

}

.ck-editor {
	font-size: 16px;
	line-height: 1.5em;
	padding: 1em 1.25em;
	margin: 0;

	h2 { font-size: 25px; }
	h3 { font-size: 21px; }

	p, h2, h3, ul, ol {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	p + p,
	p + ul,
	p + ol,
	ul + ul,
	ul + p,
	ul + ol,
	ol + ol,
	ol + p,
	ol + ul,
	h2 + p,
	h2 + ul,
	h2 + ol,
	h3 + p,
	h3 + ul,
	h3 + ol {
		margin-top: 21px;
	}

	h2 + h2,
	 p + h2,
	ol + h2,
	ul + h2,
	h3 + h2 {
		margin-top: 21px;
	}

	h3 + h3,
	 p + h3,
	ol + h3,
	ul + h3,
	h2 + h3 {
		margin-top: 21px;
	}

	ul, ol {
		margin-left: 48px;
		padding-left: 0;
	}

	li + li {
		margin-top: 10px;
	}

}




