@import "../../../../../vcms/_scss/margins";
// @import "../../../../vcms/_scss/cols";
@import "../../../../../vcms/_scss/layout";

/* --------------------------------- *\

	html, body
	
\* --------------------------------- */

html,
body {
	width: 100%;
	height: 100%;
}





/* --------------------------------- *\

	Margins and padding
	
\* --------------------------------- */

// define margin sizes
$marginSizes: (
	default : 2.000rem,
	medium  : 3.000rem,
	large   : 4.000rem,
	xlarge  : 6.000rem,
	small   : 0.500rem,
	half 	: 1.000rem,
	// xsmall  : 0.250rem
);

@include margins('margin', $marginSizes);
@include margins('padding', $marginSizes);





/* --------------------------------- *\

	Size
	
\* --------------------------------- */

:root {
	--header-space: 8rem;
	--submenu-height: 5rem;
	--wrap-width: 86rem;
	--wrap-width-small: 70rem;
	--wrap-mobile: calc(100% - 6rem);
}

// default

html, body {
	font-size: 16px;
}

// desktops

@media (min-width: 1024px) and (max-width: 1200px) {
	html, body { font-size: 11px; }
}

@media (min-width: 1201px) and (max-width: 1440px) {
	html, body { font-size: 13px; }
}

@media (min-width: 1441px) and (max-width: 1600px) {
	html, body { font-size: 14px; }
}

@media (min-width: 1720px) and (max-aspect-ratio: 13/5) {
	html, body { font-size: 16px; }
}

@media (min-width: 1920px) and (max-aspect-ratio: 3/1) {
	html, body { font-size: 18px; }
}

@media (min-width: 1920px) and (max-aspect-ratio: 13/5) {
	html, body { font-size: 20px; }
}

// mobile devices

@media (min-width: 568px) and (max-width: 1023px) {
	html, body { font-size: 1.05vw; }
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
	html, body {
		--submenu-height: 7rem;
		font-size: 2vw;
	}
}





/* --------------------------------- *\

	section
	
\* --------------------------------- */

.section {
	width: 100%;
	display: block;
	position: relative;
}

.section--intro {
	min-height: 100%;
	z-index: 3;
}

.section--home-why {
	z-index: 1;
}

.section--home-why + .section {
	z-index: 4;
}

// mobile portraits for tablets and mobiles
@media (max-width: 1023px) and (min-width: 768px) and (orientation: portrait),
(max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.section--intro {
		min-height: 0;
	}

}





/* --------------------------------- *\

	Wrap
	
\* --------------------------------- */

.wrap {
	width: 100%;
	max-width: var(--wrap-width);
	margin-right: auto;
	margin-left: auto;
}

.wrap--small {
	max-width: var(--wrap-width-small);
}

.wrap-full {
	min-height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.wrap {
		width: var(--wrap-mobile);
		max-width: none;
	}

	.wrap--small {
		max-width: none;
	}

	// clear wrap for video
	.section--video,
	.section--subscribe {
		.wrap {
			width: 100%;
		}
	}

	.wrap-full {
		min-height: 0;
		position: static;
	}

}




