/* --------------------------------- *\

	Image

\* --------------------------------- */

/* img container */
.image {
	position: relative;
	overflow: hidden;
	display: block;
}
	
	/* absolute position */
	.image.absolute {
		position: absolute;
	}

/* image tag */
.image > img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	opacity: 0;
	transition: opacity 1s ease 0s;
}

/* image is loaded */
.image > img.image__loaded {
	opacity: 1;
}

/* portrait */
.image > .image__portrait {
	width: 100%;
	height: auto;
}

/* landscape */
.image > .image__landscape {
	width: auto;
	height: 100%;
}

/* image loader hidden by default */
.images-loader-js {
	visibility: hidden;
}

/* show loader when loading */
.images-loading-js .images-loader-js {
	visibility: visible;
}





/* --------------------------------- *\

	Styles

\* --------------------------------- */

.image--circle {
	border-radius: 50%;
}

.image--fancy {
	border-bottom-left-radius: 40%;
	border-top-right-radius: 40%;
}

.image-fancy {
	position: relative;
	width: 100%;

	> div:first-child {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-5%, -5%);
		background: var(--color-bg);
		border-bottom-left-radius: 40%;
		border-top-right-radius: 40%;
	}

	> svg {
		width: 4rem;
		height: 4rem;
		position: absolute;
		top: 1rem;
		left: 1rem;
		fill: var(--color-white);

		circle {
			opacity: .4;
		}
	}
}

.image-fancy--contacts {
	> div:first-child {
		transform: translate(-4rem, -4rem);
	}
}





/* --------------------------------- *\

	Sizes

\* --------------------------------- */

/* block image 100% width */
.image-block {
	display: block;
	width: 100%;
	height: auto;
}

/* sizes */

.image--16-9:before,
.image--circle:before,
.image--sq:before,
.image--people:before,
.image--contacts:before {
	content: '';
	display: block;
	width: 100%;
	opacity: 0;
}

.image--16-9:before {
	padding-top: 56.25%;
}

.image--circle:before,
.image--sq:before {
	padding-top: 100%;
}

.image--people:before,
.image--contacts:before {
	padding-top: 125%;
}




