/* --------------------------------- *\

	Large Video Block
	
\* --------------------------------- */

// container
.video {
	color: var(--color-text-white);
	background: var(--color-black);
	border-bottom-right-radius: 12rem;
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		padding-top: 45%;
	}
}

// gray transparent overlay
.video__overlay {
	> div:first-child {
		background: rgba(16, 22, 28, 0.4);
	}
	> div:last-child {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(16, 22, 28, 0) 100%);
	}
}

// text - title and description
.video__text {
	display: flex;
	flex-direction: column;
	display: flex;

	.title-xlarge {
		color: var(--color-text-white);
	}

	> div {
		margin-top: auto;
	}
}

// play button
.video__play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> svg {
		width: 8rem;
		height: 8rem;
		fill: var(--color-main);
		cursor: pointer;
	}
}

// link over the block
.video__link {
	z-index: 10;
	outline: 0;
}

// hover on desktops
@media (pointer: fine) {
	.video__link:hover {
		~ .video__play {
			> svg {
				fill: var(--color-main-hover);
			}
		}
		~ .video__overlay {
			> div:first-child {
				background: rgba(16, 22, 28, 0.5);
			}
		}
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// update size remove round border
	.video {
		border-bottom-right-radius: 0;

		&:after {
			padding-top: 100%;
		}
	}

	// update padding for text
	.video__text {
		padding-right: 3rem;
		padding-left: 3rem;
	}

}




