/* --------------------------------- *\

	Form
	
\* --------------------------------- */

:root {
	--input-size: 3rem;
	--font-size-input: 1rem;
}

$input_size: var(--input-size);
$font_default: var(--font-main);
$font_mono: monospace;
$text_size_default: var(--font-size-input);

// import the default styles
@import "../../../../../vcms/_scss/form";

/* --------------------------------- *\

	Update style
	
\* --------------------------------- */

.form__row {
	margin-bottom: 2rem;
}

.form__label {
	// requeried star
	> span.color-error-text {
		color: var(--color-main);
	}
}

.form__input > input[type="input"],
.form__input > input[type="tel"],
.form__input > input[type="email"],
.form__input > input[type="text"],
.form__input > textarea {
	color: var(--color-black);
	background: transparent;
	border: 0;
	border-bottom: 1px solid var(--color-gray);

	&:focus,
	&:hover {
		border-color: var(--color-main);
	}
}

.form__input > textarea {
	height: $input_size;
	line-height: calc(#{$input_size} - 1px); // remove border from height
	padding-bottom: 0;
	padding-top: 0;
	resize: none;
}

.form__error {
	color: var(--color-error);
}

.form__row--error {
	.form__input > input[type="input"],
	.form__input > input[type="tel"],
	.form__input > input[type="email"],
	.form__input > input[type="text"],
	.form__input > textarea {
		border-color: var(--color-error);
	}
}

.form__radio-container {
	display: flex;

	.form__row {
		width: auto;

		+ .form__row {
			margin-left: 4rem;
		}
	}
}

.form__radio__check {
	div > svg:first-child {
		fill: var(--color-white);
	}

	svg {
		+ svg {
			width: 60%;
			height: 60%;
			top: 20%;
			left: 20%;
		}
	}
}

input[type="radio"]:checked + .form__radio__check {
	div:last-child > svg:last-child {
		fill: var(--color-main);
	}
}

.form__checkbox__label,
.form__radio__label {
	&:hover > span {
		border-bottom: 0;
		color: var(--color-main);
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px),
(max-width: 1023px) and (orientation: landscape) and (pointer: coarse) {

	:root {
		--input-size: 48px;
		--font-size-input: 16px;
	}

	.form__radio-container {
		display: block;

		.form__row {
			width: 100%;

			+ .form__row {
				margin-left: 0;
			}
		}
	}

}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.form {
		.button {
			width: 100%;
			font-size: 16px;
			height: 48px;
			line-height: 48px;
		}
	}

}

@media (max-width: 1023px) and (orientation: landscape) and (pointer: coarse) {

	.form {
		.button {
			font-size: 1.6rem;
			height: 5.5rem;
			line-height: 5.5rem;
		}
	}

}




