/* --------------------------------- *\

	Footer
	
\* --------------------------------- */

.footer {
	color: var(--color-comp);
}

.footer__content {
	display: flex;

	> div {
		flex: 1;
	}
}

.footer__logo {
	width: 10rem;
	height: auto;
	display: block;
	fill: var(--color-comp);
}

.footer__menu {
	display: flex;

	a {
		color: var(--color-comp);

		&:hover {
			color: var(--color-main);
		}
	}

	> div > div:empty {
		display: none;
	}

	> div > div:not(:empty) + div {
		margin-top: 1rem;
	}
}

.copyright {
	color: var(--color-text);
	display: flex;
	align-items: flex-end;

	a {
		color: var(--color-text);
	}
}

.copyright__text {
	display: flex;

	> div {
		display: flex;

		> a {
			margin-left: .5rem;

			&:hover {
				color: var(--color-comp);
			}
		}
	}

	> div + div {
		margin-left: .5rem;
	}
}

.social {
	display: flex;
	margin-left: auto;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: .35rem;
		width: 2rem;
		height: 2rem;
		background: var(--color-gray-light);

		> svg {
			height: 40%;
			width: 40%;
			fill: var(--color-balck);
		}

		&:hover {
			background: var(--color-black);

			> svg {
				fill: var(--color-white);
			}
		}
	}

	a + a {
		margin-left: 1rem;
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.footer__logo {
		width: 20rem;
	}

	.footer__content {
		display: block;
	}

	.footer__menu {
		margin-top: 4rem;

		> div:first-child {
			margin-right: 12rem;
		}
	}

	.copyright {
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-top: 4rem;
	}

	.social {
		display: flex;
		margin-left: 0;
		margin-bottom: 4rem;

		a {
			border-radius: 1rem;
			width: 4rem;
			height: 4rem;
		}

		a + a {
			margin-left: 2rem;
		}
	}

	.copyright__text {
		flex-direction: column;

		> div {
			display: block;

			> a {
				margin-left: 0;
				text-decoration: underline;
			}
		}

		> div + div {
			margin-left: 0;
			margin-top: 2rem;
		}

		span {
			display: none;
		}
	}

}




