/* --------------------------------- *\

	Header
	
\* --------------------------------- */

.header,
.header-space {
	height: 8rem;
	transition: background .3s ease-in-out;
}

.header--bg {
	background: var(--color-black);
}

.header-space-large {
	height: calc(8rem + var(--submenu-height));
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.header--black {
	background: var(--color-black);
}

.header__content {
	height: 100%;
	display: flex;
	align-items: center;
}

.logo {
	> svg {
		fill: var(--color-white);
		width: 12rem;
		height: auto;
		display: block;
	}
}

.logo-mobile {
	position: absolute;
	top: 3.5rem;
	left: 4rem;
	display: none;

	> svg {
		fill: var(--color-black);
		width: 16rem;
		height: auto;
		display: block;
	}
}

.menu {
	padding-top: 1rem;
	font-size: 1em;
	display: flex;

	a {
		color: var(--color-white);
		margin-left: 3rem;

		&:hover {
			color: var(--color-main);
		}
	}

	// push other items to the left side
	+ .lang,
	+ .header__right {
		margin-left: auto;
	}
}

a.menu__active {
	color: rgba(255, 255, 255, 0.5);
}

.header__right {
	padding-top: 1rem;
	display: flex;
	height: 100%;
	align-items: center;
}

.header__mobile-bg {
	display: none;
}





/* --------------------------------- *\

	Language
	
\* --------------------------------- */

// container
.lang {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	color: var(--color-white);

	// open dropdown
	&--open {
		.lang__dropdown {
			display: block;
		}
	}
}

// down arrow svg
.lang__down {
	fill: var(--color-white);
	margin-left: .75em;
	width: .6em;
	height: .6em;
}

// globe svg
.lang__globe {
	fill: var(--color-white);
	position: absolute;
	width: 1.4em;
	height: 1.4em;
	left: -2.25em;
	top: -.25em;
}

// dropdown that appears on hover or click on mobile
.lang__dropdown {
	display: none;
	position: absolute;
	top: -1em;
	left: -3em;
	background: var(--color-black);
	padding: 2rem 2rem 2rem 3rem;

	// all inner elements need margin
	> * {
		margin-top: 2rem;
		display: block;
	}

	// update links
	> a {
		color: var(--color-white);
	}

	// active
	> span {
		color: var(--color-main);
	}
}

// pointer events for desktop
@media (pointer: fine) {
		
	// show dropdown on hover
	.lang:hover {
		.lang__dropdown {
			display: block;
		}
	}

	// add cursor style on hover
	.lang__menu {
		cursor: pointer;
	}

	// hover on lang item
	.lang__dropdown {
		> a:hover {
			color: var(--color-main);
		}
	}

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// dropdown that appears on hover or click on mobile
	.lang__dropdown {
		position: static;
		background: transparent;
		padding: 0;

		// all inner elements need margin
		> * {
			margin-top: 4rem;
		}

		// update links
		> a {
			color: var(--color-title);
		}

	}

}





/* --------------------------------- *\

	Header mobile
	
\* --------------------------------- */

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// overflow for header
	.header {
		overflow: hidden;
	}

	// update logo position
	.logo {
		position: absolute;
		top: 3rem;
		left: 4rem;
	}

	// hide some stuff
	.menu, .header__right, .lang, .logo-mobile {
		display: none;
		animation: mobile-float-in .3s ease-in-out forwards .5s;
		opacity: 0;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
		animation-duration: .3s;
		animation-fill-mode: forwards;
	}

	.header__mobile-bg {
		display: flex;
		background: var(--color-white);
		transform: translateX(100%);
		transition: transform .3s ease-in-out;
		opacity: 0;
	}

	.header--open {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0;

		// adjust the logo our content size is not 100%
		.logo { left: -1rem; }

		// add animation
		.menu, .header__right, .lang, .logo-mobile {
			animation-name: mobile-float-in;
		}

		// set the delay on the elements for laoding
		.logo-mobile {  animation-delay: .3s; }
		.lang { animation-delay: .4s; }
		.menu { animation-delay: .5s; }
		.header__right { animation-delay: .6s; }

		.header__content {
			width: 90vw;
			position: absolute;
			right: 0;
			top: 0;
			flex-direction: column-reverse;
			align-items: flex-start;
			justify-content: flex-end;
			padding: 0;
		}

		.header__mobile-bg {
			transform: translateX(0);
			opacity: 1;
		}

		// show stuff
		.menu, .header__right, .lang {
			display: flex;
		}

		.menu {
			position: relative;
			flex-direction: column;
			font-size: 2em;
			line-height: 1em;
			border-top: 1rem solid var(--color-bg);
			width: 100%;
			margin-top: 4rem;
			align-items: flex-start;

			a {
				color: var(--color-black);
				margin-left: 4rem;
				margin-top: 2rem;
				min-width: 12rem;
				padding: 1rem 0;

				&:hover {
					color: var(--color-black);
				}

				&:first-child {
					margin-top: 2rem;
				}
			}
		}

		.lang {
			margin-top: 14rem;
			color: var(--color-black);
			margin-left: 8.45rem;
			font-size: 2em;
			line-height: 1em;
			width: calc(100% - 4rem - 8.8rem);
			flex-direction: column-reverse;
			align-items: flex-start;
		}

		.lang__menu {
			width: 100%;
		}

		.lang__down {
			fill: var(--color-black);
			position: absolute;
			right: 0;
		}

		.lang__globe {
			fill: var(--color-black);
		}

		// buttons on the bottom of menu
		.header__right {
			position: absolute;
			bottom: 8rem;
			height: auto;
			width: calc(100% - 8rem);
			left: 4rem;

			> a {
				flex: 1;
				margin-left: 0;
				padding: 0;
			}

			> a:first-child {
				height: 5.5rem;
				line-height: 5.5rem;
				border: 1px solid;
				margin-right: 2rem;
				border-radius: .8em;
				font-size: 1.6rem;
				text-align: center;
			}
		}

		// show mobile logo
		.logo-mobile {
			display: block;
		}

	}

}

// float in menu items for mobile
@keyframes mobile-float-in {
	from {
		opacity: 0;
		transform: translateY(5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}





/* --------------------------------- *\

	Burger
	
\* --------------------------------- */

// https://jonsuh.com/hamburgers/

$hamburger-padding-x           : 0 !default;
$hamburger-padding-y           : 0 !default;
$hamburger-layer-width         : 2.75rem !default;
$hamburger-layer-height        : .2rem !default;
$hamburger-layer-spacing       : .75rem !default;

$hamburger-hover-opacity       : 1 !default;
$hamburger-active-layer-color  : var(--color-black) !default;

@import "hamburgers/hamburgers";

/* remove outline */
.hamburger {
	display: none;
	outline: 0;
	position: absolute;
	right: 4rem;
	top: 3.4rem;
	z-index: 802;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

/* color */
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #fff;
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// show burger
	.hamburger {
		display: block;
	}

}





/* --------------------------------- *\

	Submenu
	
\* --------------------------------- */

.submenu {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: var(--header-space);
	left: 0;
	width: 100%;
	z-index: 999;
	background: rgba(255, 255, 255, .25);
	height: var(--submenu-height);

	ul {
		display: flex;
		align-items: center;
		justify-content: center;

		li + li {
			margin-left: 5rem;
		}
	}

	li > svg {
		display: none;
		fill: var(--color-white);
		width: .7em;
		height: .7em;
		margin-left: 1em;
	}

	a {
		color: var(--color-white);
		opacity: .6;

		&:hover,
		&.submenu__active {
			opacity: 1;
		}
	}
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// show burger
	.submenu {
		background: transparent;

		&.text-default {
			font-size: 2em;
			line-height: 2em;
		}

		a {
			display: none;

			&.submenu__active {
				display: block;
				position: relative;
				top: -.1em;
			}
		}

		ul {
			border: 1px solid;
			width: var(--wrap-mobile);
			height: 100%;
			border-radius: calc(var(--submenu-height)/2);

			li + li {
				margin-left: 0;
			}
		}

		li {
			display: flex;
			align-items: center;

			> svg {
				display: block;
			}
		}
	}

}




