/* --------------------------------- *\

	Faq Section Cols

\* --------------------------------- */

.faq {
	display: flex;

	&__col:first-child {
		width: 20rem;
		background: var(--color-bg);
		border-radius: 1rem;
	}

	&__col:last-child {
		flex: 1;
	}
}

.faq__menu {
	> a {
		display: block;
		color: var(--color-text);

		+ a {
			margin-top: 1.5rem;
		}

		&:hover {
			color: var(--color-main);
		}
	}
}

a.faq__menu__active {
	color: var(--color-main);
	font-weight: bold;
}

.faq__info {
	color: var(--color-title);
	background: var(--color-bg);
	background: linear-gradient(90deg, var(--color-bg) 0%, rgba(255,255,255,0) 100%);
	border-radius: 1rem;
}

// info row with search term
.faq__search {
	color: var(--color-title);
	border-bottom: 1px solid var(--color-bg-dark);

	// if empty hide
	&:empty {
		display: none;
	}
}

// if serach results found nothing text, default hidden
.faq__no-results {
	display: none;
}

// visible if search info has the no results class
.faq__search--no-results ~ .faq__no-results {
	display: block;
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.faq {
		display: block;

		&__col:first-child {
			width: 100%;
			background: var(--color-bg);
			margin-bottom: 2rem;
		}
	}

	.faq__menu {
		display: flex;
		flex-wrap: wrap;

		> a {
			width: 50%;
			margin-top: 1.5rem;

			&:nth-child(1),
			&:nth-child(2) {
				margin-top: 0;
			}

			&:hover {
				color: var(--color-main);
			}
		}
	}

}





/* --------------------------------- *\

	Questions

\* --------------------------------- */

// questuion
.question {
	border-bottom: 1px solid var(--color-bg-dark);

	// question title and open icon container
	> div:first-child {
		display: flex;
		align-items: center;
	}

	// question title
	&__title {
		color: var(--color-title);
		flex: 1;

		> div {
			display: inline;
		}

		> div > div {
			display: inline;
			color: var(--color-main);
			font-weight: bold;
		}
	}

	// open svg icon
	&__open {
		margin-left: auto;
		width: 2rem;
		height: 2rem;

		// the icon
		> svg {
			width: 100%;
			height: 100%;
			display: block;
			fill: var(--color-black);
		}
	}

	// left border for the answer
	&__answer {
		border-left: 1px solid var(--color-black);
	}

	&--hidden {
		display: none;
	}
}

// hide the circle of the svg for inner pages
.question--inner-pages {
	.question__open {
		> svg > path:first-child {
			display: none;
		}
	}
}

// show only minuss when the question is open
.slide-toggle-parent--open {
	.question__open {
		> svg > path:last-child {
			display: none;
		}
	}
}

// hover
@media (pointer: fine) {

	// hover only for mouse
	.question {
		&__open:hover,
		&__title > div:hover {
			opacity: .7;
			cursor: pointer;
		}
	}

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// questuion
	.question {

		// question title and open icon container
		> div:first-child {
			padding-right: 0;
			padding-left: 0;
		}

		// open svg icon
		&__open {
			width: 3rem;
			height: 3rem;
		}

		// left border for the answer
		&__answer {
			margin-left: calc(2rem + 1px);
		}

	}

}




