/* --------------------------------- *\

	Sitemap

\* --------------------------------- */

// container
.sitemap {
	color: var(--color-title);

	// add margin top
	ul li { margin-top: 1em; }

	// add margin to title
	h2 { margin-top: 1.5em; }

}

// update mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.sitemap {

		// update font size
		&.text.text-medium { font-size: 1.25em; }

		// add margin top
		ul li { margin-top: 1.5em; }
		
		// add margin to title
		h2 { font-size: 2.5em; }

	}

}




