/* --------------------------------- *\

	Icon List
	
	For now it's only on home page
	
\* --------------------------------- */

$icon-list-margin: 1.5rem;

.icon-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: calc(100% + #{$icon-list-margin} * 2);
	margin-left: -#{$icon-list-margin};
}

.icon-list__item {
	width: calc(100% / 3 - #{$icon-list-margin} * 2 - .1vw);
	margin-right: #{$icon-list-margin};
	margin-left: #{$icon-list-margin};
	margin-bottom: #{$icon-list-margin * 2};
}

.icon-list__item:nth-last-child(-n+3) {
	margin-bottom: 0;
}

.icon-list__image {
	box-shadow: 0px 1.125em 5.3125em rgba(41, 45, 83, 0.12);
	background: var(--color-white);

	> svg {
		fill: var(--color-main-light);
		position: absolute;
		width: 40%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.icon-list__title {
	color: var(--color-title);
}


// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// clear flex
	.icon-list {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 60%;
	}

	// full width items
	.icon-list__item {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.icon-list__image {
		> svg {
			width: 50%;
		}
	}

	// reset margin bottom
	.icon-list__item:nth-last-child(-n+3) {
		margin-bottom: #{$icon-list-margin * 2};
	}

	.icon-list__item:last-child {
		margin-bottom: 0;
	}

}




