/* --------------------------------- *\

	Intro blocks
	
\* --------------------------------- */

// intro container
.intro {
	
	.text,
	.text.title-xlarge {
		color: var(--color-text-white);
	}

	&--full-height {
		min-height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: var(--color-black);
		overflow: hidden;
	}
}

.intro--pricing .text {
	color: var(--color-text);
}

.intro--pricing .pricing__top,
.intro--pricing .pricing__col--selected .text {
	color: var(--color-white);
}

// screen shot intro image
.intro__image {
	width: 56rem;
	background: var(--color-bg);
	border-radius: 2rem;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 3.125rem 5.875rem rgba(46, 46, 46, 0.13);

	> img {
		width: 100%;
		height: auto;
		display: block;
		box-shadow: 1.875rem 1.25em 2.5em rgba(46, 46, 46, 0.13);
		border-radius: 2rem;
	}
}

// image for the second intro style
.intro__image-2 {
	flex: 1;
	display: flex;
	justify-content: center;
	max-height: 50vw;

	> div {
		height: 100%;
		width: 100%;
		max-height: 50vw;
		position: absolute;
	}

	> div > img {
		height: 100%;
		width: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

// background iamge
.intro-background {
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: var(--color-black);
	border-bottom-left-radius: 16rem;
	overflow: hidden;
	z-index: 2;

	// no white border around the block
	&--full {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-bottom-left-radius: 0;
	}
}
	
	// color and gradient overlay for the image
	.intro-background__overlay,
	.intro-background__gradient {
		> div {
			width: 100%;
			height: 100%;
		}

		> div:first-child {
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(16, 22, 28, 0) 100%);
		}
		
		> div:last-child {
			background: rgba(16, 22, 28, 0.75);
		}
	}

	.intro-background__gradient {
		> div:first-child {
			background: var(--color-white);
		}
		
		> div:last-child {
			background: linear-gradient(0deg, rgba(147, 173, 222, 0.40) 10%, rgba(255, 255, 255, 0) 100%);
		}
	}

	// image container
	.intro-background__image {
		width: 100%;
		height: 100%;
		background-image: url('../images/patrik-gothe-xiTFENI0dMY-unsplash.jpg');
		opacity: .8;
	}

	.intro-background__blocks {
		height: 40rem;
		position: absolute;
		width: 100rem;
		max-width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		> div:nth-child(1) {
			width: 15rem;
			height: 25rem;
			bottom: 5rem;
			left: 0;
			position: absolute;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0) 100%);
			border-top-right-radius: 5rem;
		}

		> div:nth-child(2) {
			width: 15rem;
			height: 15rem;
			top: 0;
			left: 10rem;
			position: absolute;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0) 100%);
			border-bottom-left-radius: 5rem;
		}

		> div:nth-child(3) {
			width: 13rem;
			height: 24rem;
			bottom: 2rem;
			right: 0;
			position: absolute;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0) 100%);
			border-top-right-radius: 5rem;
		}

		> div:nth-child(4) {
			width: 10rem;
			height: 15rem;
			top: 3rem;
			right: 15rem;
			position: absolute;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0) 100%);
			border-bottom-left-radius: 5rem;
		}
	}

// background circle for second intro
.intro__circle {
	overflow: hidden;

	> div {
		position: absolute;
		width: 90vw;
		height: 90vw;
		border-radius: 50%;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 70%);
		background: rgba(255, 255, 255, .1);
	}
}

// mobile landscapes
@media (max-width: 1023px) and (orientation: landscape) {

	// add min height for the background
	.intro-background {
		min-height: 56vw;
	}

	.intro__image-2 {
		display: block;
		max-height: auto;

		> div {
			height: auto;
			width: 100%;
			max-height: auto;
			position: static;
		}

		> div > img {
			height: auto;
			width: 65rem;
		}
	}

}

// tablets, large portaits
@media (max-width: 1023px) and (min-width: 768px) and (orientation: portrait) {

	// add min height for the background
	.intro-background {
		max-height: 56vw;
	}

	.intro-background__blocks {
		display: none;
	}

}

// mobile portraits
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
	
	// need to add wrap to the text
	.intro {
		width: var(--wrap-mobile);
		margin-right: auto;
		margin-left: auto;
	}

	// need some margin for subtitle
	.intro__subtitle {
		padding: 0 5rem;
	}

	// update width of the intro image
	.intro__image {
		width: 100%;
	}

	// background iamge
	.intro-background {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-bottom-left-radius: 0;
	}

	// add min height for the background
	.intro-background {
		max-height: 120vw;
	}

	.intro__circle {
		display: none;
	}

	.intro-background__blocks {
		display: none;
	}

}

// all portraits and mobile
@media (max-width: 1023px) and (min-width: 768px) and (orientation: portrait),
(max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	// need to add wrap to the text
	.intro {
		&--full-height {
			min-height: 0;
			width: 100%;
		}
	}

	.intro__image-2 {
		display: block;
		max-height: auto;

		> div {
			height: auto;
			width: 100%;
			max-width: 70rem;
			max-height: auto;
			position: static;
			margin-left: auto;
			margin-right: auto;
		}

		> div > img {
			height: auto;
			width: var(--wrap-mobile);
		}
	}

	// background circle for second intro
	.intro__circle {
		> div {
			width: 100vw;
			height: 100vw;
			left: 50%;
			transform: translate(-50%, 10%);
		}
	}

}




