/* --------------------------------- *\

	Pricing main tables
	
\* --------------------------------- */

.pricing {
	display: flex;
	justify-content: center;
}

.pricing__col {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: var(--color-white);
	box-shadow: 0px .25rem 1.25rem rgba(0, 0, 0, 0.12);
	border-radius: .75rem;
	position: relative;
	max-width: calc(100%/3 - 3 / 2 * 2rem);

	+ .pricing__col {
		margin-left: 2rem;
	}

	&--recomended {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}

// recomended top
.pricing__top {
	height: 2rem;
	line-height: 2rem;
	background: var(--color-main);
	position: absolute;
	width: 100%;
	top: -2rem;
	left: 0;
	border-top-right-radius: .75rem;
	border-top-left-radius: .75rem;
}

.pricing__title {
	color: var(--color-title);
}

.pricing__price {
	color: var(--color-title);

	> span:nth-child(1) {
		font-size: 2em;
		line-height: 1em;
		position: relative;
		top: -1.5em;
		margin-right: .2em;
	}

	> span:nth-child(2) {
		font-size: 5em;
		line-height: 1em;
	}
	
	> span:nth-child(3) {
		font-size: 2em;
		line-height: 1em;
		margin-right: .1em;
	}
	
	> span:nth-child(4) {
		font-size: 1.5em;
		line-height: 1em;
		margin-right: .1em;
	}
}

.pricing__col--selected {
	color: var(--color-white);
	background: var(--color-comp);
	box-shadow: 0px .25rem 2.5rem rgba(0, 0, 0, 0.35);

	.pricing__title,
	.pricing__price {
		color: var(--color-white);
	}
}

.pricing__list {
	> li {
		display: flex;

		> span {
			flex: 1;
		}

		&:before {
			content: '>';
			display: block;
			width: 1.25em;
		}

		+ li {
			margin-top: 1em;
		}
	}
}

.pricing__button {
	margin-top: auto;
}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.pricing {
		display: block;
		width: var(--wrap-mobile);
	}

	.intro__pricing > .pricing {
		width: 100%;
	}

	.pricing__col {
		min-height: 110vw;
		border-radius: 1rem;
		max-width: none;

		&--recomended {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}

		+ .pricing__col {
			margin-left: 0;
			margin-top: 3rem;
		}

		+ .pricing__col--recomended {
			margin-top: 7rem;
		}

		&.padding-all-medium {
			padding: 5rem;
		}
	}

	// recomended top
	.pricing__top {
		height: 4rem;
		line-height: 4rem;
		top: -4rem;
		border-top-right-radius: 1rem;
		border-top-left-radius: 1rem;

		&.text-small {
			font-size: 1.25em;
		}
	}

	.pricing__title.text-large {
		font-size: 2.25em;
		margin-bottom: 3rem;
	}

	.pricing__price {
		margin-bottom: 3rem;

		> span:nth-child(1) {
			font-size: 3em;
			line-height: 1em;
			position: relative;
			top: -1.2em;
			margin-right: .2em;
		}

		> span:nth-child(2) {
			font-size: 6em;
			line-height: 1em;
		}
		
		> span:nth-child(3) {
			font-size: 3em;
			line-height: 1em;
			margin-right: .1em;
		}
		
		> span:nth-child(4) {
			font-size: 2em;
			line-height: 1em;
			margin-right: .1em;
		}
	}

}





/* --------------------------------- *\

	Home Pricing
	
\* --------------------------------- */

.home-pricing {
	background: var(--color-bg);
}





/* --------------------------------- *\

	Pricing second table
	
\* --------------------------------- */

.pricing-more {
	color: var(--color-comp);

	.text-small {
		color: var(--color-text);
	}

	&__row {
		display: flex;
		padding: 1.5rem 0;
		border-bottom: 1px solid var(--color-bg-dark);
		align-items: center;

		> div {
			width: 20rem;
		}

		> div:first-child {
			flex: 1;
		}
	}

	svg {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	&__x {
		fill: var(--color-gray);
		width: 1rem;
		height: 1rem;
	}

	&__check {
		fill: var(--color-main);
		width: 1.25rem;
		height: 1.25rem;
	}
}

// update for mobiles
@media (min-width: 768px) and (orientation: portrait) {

}

// update for mobiles
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {

	.pricing-more {

		&__row {
			> div {
				width: 6rem;
			}
		}

		&__row--header {
			height: 20rem;
			align-items: flex-end;
		}

		&__plan {
			position: absolute;
			// width: 19rem;
			height: 6rem;
			padding-left: 1rem;
			white-space: nowrap;
			transform: rotate(-90deg);
			text-align: left;
			// right: 0;
			transform-origin: top left;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

	}

}




