<div class="intro-background  intro-background--full">
	<div class="intro-background__gradient  absolute">
		<div class="absolute"></div>
		<div class="absolute"></div>
	</div>
	<div class="intro-background__blocks">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<section class="section  section--intro">
	
	<div class="intro  intro--pricing  relative">

		<div class="header-space"></div>

		<div class="text">
			<h1 class="title-xlarge  margin-v-medium  text-center">
				{{title}}
			</h1>
			<div class="intro__subtitle  margin-b-medium  text-default  text-center">
				{{subtitle}}
			</div>
		</div>

		<div class="text-center  padding-b">
			<div class="switch  switch--pricing  margin-b-large">
				<div onclick="setSwitchActive(this); changePrices('m'); return false;">{{monthly}}</div>
				<div onclick="setSwitchActive(this); changePrices('y'); return false;" class="switch__active">{{yearly}}</div>
				<span></span>
			</div>
		</div>
	
		<div class="intro__pricing">
			<div class="wrap  pricing">
				{{pricing_plan1}}
				{{pricing_plan2}}
				{{pricing_plan3}}
			</div>
		</div>
	
	</div>

</section>