<section class="section">

	<div class="header-space"></div>

	<div class="wrap">

		<div class="pricing-more">

			<div class="pricing-more__row  pricing-more__row--header">
				<div>&nbsp;</div>
				{{plan1_header}}
				{{plan2_header}}
				{{plan3_header}}
			</div>

			{{features}}

		</div>

	</div>

</section>