<div class="pricing__col  padding-all-medium{{recomended}}  pricing__col--selected{{/recomended}}{{recomended_text}}  pricing__col--recomended{{/recomended_text}}">

	<div class="pricing__content">

		{{recomended_text}}<div class="pricing__top  text-center  text  text-small">
			{{recomended_text}}
		</div>{{/recomended_text}}

		<div class="pricing__title  text  text-large  margin-b  text-strong">
			{{name}}
		</div>

		<div class="pricing__price  margin-b" data-price-m="{{price_month}}" data-price-y="{{price_year}}">
			<span class="text-strong">&euro;</span>
			<span class="text-strong">{{price1}}</span>
			<span class="text-strong">.{{price2}}</span>
			<span>/ per user</span>
		</div>

		<div>
			<ul class="pricing__list  text  text-default">
				{{features}}
			</ul>
		</div>

	</div>
	
	{{button}}<div class="pricing__button  text-center">
		<a href="{{button_link}}" class="button  button--inline  margin-t-medium">{{button}}</a>
	</div>{{/button}}

</div>