<div class="header-space"></div>

<div class="wrap">
	<div class="header-space"></div>
	<div class="text  text-center  title">
		<h2 class="title-xlarge  margin-b-half">{{title}}</h2>
		<div class="text-default">{{subtitle}}</div>
	</div>
</div>