// ------------------------------
//
//	retrun color code
//  if key exists in $colors
//
// ------------------------------

@function get_color_code($colors, $color_group_name, $color_code){
	@if map-has-key(map-get($colors, $color_group_name), $color_code) {
		@return #{map-get(map-get($colors, $color_group_name), $color_code)};
	}
	@return $color_code;
}

@function get_color($colors, $color_group_name, $color_name){

	// default to black
	$color_code: #000000;

	// check if color exists
	@if map-has-key(map-get($colors, $color_group_name), $color_name) {
		
		// set it
		$color_code: map-get(map-get($colors, $color_group_name), $color_name);

		// check if it's a list and return first if so
		@if type-of($color_code) == list {
			@return nth($color_code, 1);
		}

	}

	// return the color
	@return $color_code;

}

// ------------------------------
//
//	Color output
//
// ------------------------------

// default color has no extra name example: color-main-text
// others have extra name: color-main-{color_name}-text

// $color_code - hex or rgb() rgba() code of the color
// $color_code can also be a list with 2 elements ( color, hover color )

// $color_name - name of the color like "dark" or "light" etc.
// this is the subname thats gona be used with group name
// example: color-{color_group_name}-{color_name}-text

// $color_group_name - group or the color like "main" or "comp" etc.
// the name of the color group used in the theme

// go through color groups
@mixin setup_color_theme($colors) {

	@each $color_group_name, $color_group_data in $colors {

		// go through each groups color list
		@each $color_name, $color_code in $color_group_data {

			// default class name
			$class_name: '#{$color_group_name}-#{$color_name}';

			// if color default
			@if $color_name == default or $color_name == hover {
				$class_name: $color_group_name;
			}

			// set current colors
			$current_color: $color_code;
			$color_hover_code: false;

			// check if it's a list
			@if type-of($color_code) == list {

				// get the hover color
				$color_hover_code: get_color_code($colors, $color_group_name, nth($color_code, 2));

				// update current color
				$current_color: nth($color_code, 1);

			}

			/* ------------------------------ *\
			
				color-#{$class_name}: #{$current_color}
				
			\* ------------------------------ */

			.color-#{$class_name}-text { color: $current_color; }
			.color-#{$class_name}-text-hover:hover { color: $current_color; }
			.color-link:hover .color-#{$class_name}-text-hover { color: $current_color; }

			.color-#{$class_name}-fill { fill: $current_color; }
			.color-#{$class_name}-fill-hover:hover { fill: $current_color; }
			.color-link:hover .color-#{$class_name}-fill-hover { fill: $current_color; }

			.color-#{$class_name}-bg { background-color: $current_color; }
			.color-#{$class_name}-bg-hover:hover { background-color: $current_color; }
			.color-link:hover .color-#{$class_name}-bg-hover { background-color: $current_color; }

			.color-#{$class_name}-border { border-color: $current_color; }
			.color-#{$class_name}-border-hover:hover { border-color: $current_color; }
			.color-link:hover .color-#{$class_name}-border-hover { border-color: $current_color; }

			@if $color_hover_code {

				// hover on desktops
				@media (pointer: fine) and (hover: hover) {

					// hover for all inner elements
					.color-link {
						
						&:hover .color-#{$class_name}-text { color: $color_hover_code; }
						&.color-#{$class_name}-text:hover  { color: $color_hover_code; }

						&:hover .color-#{$class_name}-fill { fill: $color_hover_code; }
						&.color-#{$class_name}-fill:hover  { fill: $color_hover_code; }

						&:hover .color-#{$class_name}-bg { background-color: $color_hover_code; }
						&.color-#{$class_name}-bg:hover  { background-color: $color_hover_code; }

						&:hover .color-#{$class_name}-border { border-color: $color_hover_code; }
						&.color-#{$class_name}-border:hover  { border-color: $color_hover_code; }

					}

				}

			} // hover classes

		} // loop 2

	} // loop 1

} // colors function end