// ------------------------------------
//
//		Cols
//
// ------------------------------------

/**

 * Cols - Margins

*/

@mixin cols-margins($sizes, $cols: false) {
	
	@each $size-name, $size-value in $sizes {

		$size-name: margin-name($size-name);

		// set the col count
		@if $cols {
			.cols--margin-r#{$size-name}.cols--#{$cols} {
				> .col { margin-right: $size-value; }
				> .col:last-child { margin-right: 0; }
			}
		} @else {
			.cols--margin-r#{$size-name} {
				> .col { margin-right: $size-value; }
				> .col:last-child { margin-right: 0; }
			}
		}

	}

}

/**

 * Cols - default

*/

.cols,
.col {
	width: 100%;
}

.cols {
	display: flex;
	flex-wrap: wrap;
}

.cols:empty {
	display: none;
}

.cols--center {
	justify-content: center;
}

.col {
	
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-right: 0;
	}

}

// -------------------------------

// create the col logic

// -------------------------------

@mixin col($cols, $margins, $newColCount: false) {
	
	// default
	$colCount: $cols;

	// set the col count
	@if $newColCount {
		$colCount: $newColCount;
	}

	// size & margin
	@each $size-name, $size-value in $margins {

		$size-name: margin-name($size-name);

		.cols--margin-r#{$size-name} {
			
			&.cols--#{$cols} > .col {
				width: calc((100% / #{$colCount} - #{$size-value} * #{$colCount - 1} / #{$colCount}) - .01vw);
			}

		}

		.cols--margin-t#{$size-name} {
			
			&.cols--#{$cols} > .col {
				margin-top: $size-value;
			}

		}

	}

	// default size and clear margins
	.cols--#{$cols} {

		> .col {

			width: calc(100% / #{$colCount});

			&:nth-child(#{$colCount}n) {
				margin-right: 0;
			}

			&:nth-child(-n+#{$colCount}) {
				margin-top: 0;
			}

		}

	}

}

// -------------------------------
//
// change count responsive shit
//
// -------------------------------

@mixin colChange($from, $to, $margins, $mediaQuery) {

	// piemēram "(max-width: 567px)"

	@media #{$mediaQuery} {

		// clear margins
		// this is necesary because we have margins on nth-childs

		@each $size-name, $size-value in $margins {

			$size-name: margin-name($size-name);

			.cols--margin-r#{$size-name}.cols--#{$from} {
				> .col {
					margin-right: 0;
				}
			}

			@if $to == 1 {

				.cols--#{$from} > .col {
					width: 100%;
				}

				.cols--margin-r#{$size-name} {
					&.cols--#{$from} > .col {
						width: 100%;
					}
					&.cols--#{$from} > .col:first-child {
						margin-top: 0;
					}
				}

				.cols--margin-t#{$size-name} {
					&.cols--#{$from} > .col {
						margin-top: $size-value;
					}
				}

			}

		}

		// todo - need to check if $to is 1
		// if so we have diferent logic



		// set the col count
		@if $to > 1 {

			// Cols margins
			@include cols-margins($margins, $from);

			// load the col mixin
			@include col($from, $margins, $to);

		}

	}

}




