/* --------------------------------- *\

	Inputs

\* --------------------------------- */

/* main wrap */
.form {}

/* elements - inputs etc. */
.form__row,
.form__comment,
.form__input {
	display: block;
	width: 100%;
}

/* margin for the rows */
.form__row {
	margin-bottom: calc(#{$input_size} / 3);
}
	
/* remove label and comment if empty */
.form__label:empty,
.form__comment:empty {
	display: none;
}

/* style of the input tags */
.form__input > input[type="input"],
.form__input > input[type="text"],
.form__input > input[type="number"],
.form__input > input[type="email"],
.form__input > input[type="tel"],
.form__input > input[type="password"],
.form__input > input[type="file"],
.form__input > textarea,
.form__select > select {
	// font
	font-size: $text_size_default;
	font-family: $font_default;
	// size
	height: $input_size;
	line-height: $input_size;
	padding: 0 calc(#{$input_size} / 4);
	width: 100%;
	display: block;
	// appearance
	border-width: 1px;
	border-style: solid;
	outline: 0;
	outline: none;
	filter: none;
	-webkit-appearance:none;

	&:focus {
		border-width: 1px;
	}
}

	// hidde row
	.form__row--hidden {
		display: none;
	}
	
	// monospace font for number inputs
	.form__row--number {
		.form__input > input[type="input"],
		.form__input > input[type="text"],
		.form__input > input[type="tel"],
		.form__input > input[type="number"] {
			font-family: $font_mono;
		}
	}

	// defaul height for textare
	.form__input > textarea {
		padding: calc(#{$input_size} / 3);
		padding-top: calc(#{$input_size} / 4);
		line-height: 1.5em;
		// line height + line count + top and bottom padding
		height: calc(1.5em * 10 + #{$input_size} / 3 * 2);
	}

// style for the label
.form__label {
	display: inline-block;
	font-size: $text_size_default;
	line-height: 1.5em;
	margin-bottom: calc(#{$input_size} / 6);
}

// style for the label
.form__comment {
	font-size: $text_size_default;
	line-height: 1.5em;
	margin-top: calc(#{$input_size} / 6);
}

// global error message if errors found
.form__errors { display: none; }
.form__errors--show { display: block; }

// single error message
.form__error {
	font-size: $text_size_default;
	line-height: 1.5em;
	margin-top: calc(#{$input_size} / 6);

	// hide empty
	&:empty {
		display: none;
	}
}

// placeholders
.form__input > input,
.form__input > textarea {

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #000;
	  opacity: .3;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #000;
	  opacity: .3;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: #000;
	  opacity: .3;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: #000;
	  opacity: .3;
	}

	&:focus {

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: transparent;
		  opacity: 0;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: transparent;
		  opacity: 0;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: transparent;
		  opacity: 0;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: transparent;
		  opacity: 0;
		}

	}

}





/* -------------------------------- *\
 
	Checkbox and radio

\* -------------------------------- */

.form__checkbox,
.form__radio {
	display: inline-flex;
	cursor: pointer;
	align-items: flex-start;
	justify-content: flex-start;

	// hide default input
	> input { display: none; }

	// change background when checked
	> input[type="radio"]:checked + .form__radio__check,
	> input[type="checkbox"]:checked + .form__checkbox__check {
		> div:first-child { display: none; }
		> div:last-child { display: block; }
	}
}

.form__radio__check,
.form__checkbox__check {
	display: block;
	width: $text_size_default;
	height: $text_size_default;
	margin-right: calc(#{$text_size_default} * .75);
	margin-top: calc(#{$text_size_default} * .3);
	position: relative;

	> div, svg {
		width: $text_size_default;
		height: $text_size_default;
	}

	svg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;

		+ svg {
			width: 30%;
			height: 30%;
			top: 35%;
			left: 35%;
		}
	}

	> div:last-child {
		display: none;
	}
}

.form__checkbox__check {
	svg {
		width: 50%;
		height: 50%;
		top: 25%;
		left: 25%;
	}
}

.form__checkbox__label,
.form__radio__label {
	flex: 1;
	font-size: $text_size_default;
	line-height: 1.50em;

	&:hover > span {
		border-bottom: 1px solid;
	}
}





/* --------------------------------- *\

	Select

\* --------------------------------- */

.form__select {
	position: relative;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;

	// remove all selecte styles
	> select {
		/* clear style */
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		/* remove border and background */
		background: transparent;
		border: 0;
		/* padding */
		padding-left: calc(#{$input_size} / 3);
		padding-right: calc(#{$input_size} + #{$input_size} / 3);
		// truncate
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		// position for z-index
		position: relative;
	}

	// arrow icon
	> div {
		width: $input_size;
		height: $input_size;
		position: absolute;
		top: 0;
		right: 0;

		> svg {
			display: block;
			width: 40%;
			height: 40%;
			margin-left: 15%;
			margin-top: 30%;
		}
	}

}





/* --------------------------------- *\

	File input

\* --------------------------------- */

.form__row--file {

	.form__input {
		display: flex;
		position: relative;

		label, input {
			height: $input_size;
			line-height: $input_size;
		}

		input {
			position: absolute;
			visibility: hidden;
		}

		label {
			width: auto;
			padding: 0 calc(#{$input_size} / 2);
			margin-right: calc(#{$input_size} / 3);
		}
	}

}

.form__file {
	flex: 1;
	color: rgba(0, 0, 0, .3);
	font-size: $text_size_default;
	height: $input_size;
	line-height: $input_size;
	padding: 0 calc(#{$input_size} / 3);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-width: 1px;
	border-style: solid;
}




