// --------------------------------- //
//
//	Values
//
// --------------------------------- //

@function small-desktop($font-size) {
	@return ($wrap-size + $wrap-margin * 4) * $font-size;
}

@mixin body-before-text() {
	@if $layout-debug { 
		body:before {
			font-family: sans-serif;
			font-size: 12px;
			display: block;
			position: fixed;
			padding: .5rem 1rem;
			color: #fff;
			background: firebrick;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10000;
			content: 'default';
		}
	}
}

@mixin body-text($text) {
	@if $layout-debug { 
		body:before { content: $text; }
	}
}

@mixin default-layout-font() {

	// default
	html, body { font-size: $font-size-default; }

	// small destkops
	@media (min-width: small-desktop($font-size-small) + 1) and (max-width: small-desktop($font-size-default)) {
		html, body { font-size: $font-size-small; }
		@include body-text('small-desktop');
	}

	// even smaller destkops
	@media (min-width: 1024px) and (max-width: small-desktop($font-size-small)) {
		html, body { font-size: $font-size-xsmall; }
		@include body-text('xsmall-desktop');
	}

}

@mixin load-layout() {

	// include debug text if $debug set to true
	@include body-before-text();
	@include default-layout-font();

	@each $name, $sizes in $layout-media-queries {

		// get values
		$font-size: nth($sizes, 1);
		$media: nth($sizes, 2);

		/* media test */
		@media #{$media} {
			html, body { font-size: $font-size; }
			@include body-text($name);
		}

	}

}




