/* --------------------------------- *\

	Slide toggle animation
	http://codepen.io/foxareld/pen/XMgMvP

\* --------------------------------- */

.slide-toggle {
	overflow: hidden;
	position: relative;
	max-height: 9999px;
	-webkit-transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
	   -moz-transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
			transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
}

.slide-toggle--open {
	overflow: visible;
}

.slide-toggle--closed {
	max-height: 0;
	-webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
	   -moz-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
			transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}