{{on}}<a href="{{link}}" class="button-icon  button-icon--delete" onclick="{{onclick}}">{{/on}}
{{off}}<span class="button-icon  button-icon--delete  button-icon--static">{{/off}}
	<svg class="color-{{color}}-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.4 490.4" xml:space="preserve"> <g> <path d="M245.2,490.4c135.2,0,245.2-110,245.2-245.2S380.4,0,245.2,0S0,110,0,245.2S110,490.4,245.2,490.4z M245.2,24.5 c121.7,0,220.7,99,220.7,220.7s-99,220.7-220.7,220.7s-220.7-99-220.7-220.7S123.5,24.5,245.2,24.5z"/> <path d="M185,216.2l48-48v183.4c0,6.8,5.5,12.3,12.3,12.3c6.8,0,12.3-5.5,12.3-12.3V168.3l48,48c2.4,2.4,5.5,3.6,8.7,3.6 s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-68.9-68.9c-4.8-4.8-12.5-4.8-17.3,0L167.9,199c-4.8,4.8-4.8,12.5,0,17.3 C172.4,221,180.2,221,185,216.2z"/> </g> </svg>
{{on}}</a>{{/on}}
{{off}}</span>{{/off}}