<a class="button-icon" href="{{link}}"{{onclick}}>
	<svg class="color-ok-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.4 490.4" xml:space="preserve"> <g> <path d="M245.2,0C110,0,0,110,0,245.2s110,245.2,245.2,245.2s245.2-110,245.2-245.2S380.4,0,245.2,0z M245.2,465.9 c-121.7,0-220.7-99-220.7-220.7s99-220.7,220.7-220.7s220.7,99,220.7,220.7S366.9,465.9,245.2,465.9z"/> <path d="M309.4,185.5l-94,93.5l-34.3-34.5c-4.8-4.8-12.5-4.8-17.3-0.1c-4.8,4.7-4.8,12.5-0.1,17.3l42.9,43.2 c2.4,2.4,5.5,3.6,8.7,3.6c3.1,0,6.2-1.2,8.6-3.6l102.7-102.1c4.8-4.8,4.8-12.5,0.1-17.3C321.9,180.7,314.2,180.7,309.4,185.5z"/> </g> </svg>
</a>