<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<html>
<head>
	<title>2FA CODE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
	<style type="text/css">
		body { font-family: monospace, sans-serif; margin: 0; padding: 0; color: #000; }
		p, h1, h2, h3, h4 { margin: 0; padding: 0; }
		@media (max-width: 666px) {
			table.inner-content-email-table { width: 90%; }
		}
	</style>
</head>
<body style="background: #ffffff; margin: 0; padding: 0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0"
style="background: #ffffff;" bgcolor="#ffffff">

	<tr><td height="40">&nbsp;</td></tr>
	<tr><td align="center">

		<table class="inner-content-email-table" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td height="10">&nbsp;</td></tr>
			<tr><td align="center">
				<font style="font-size: 12px; line-height: 12px;" size="2" color="black">
					Administration verification code
				</font>
			</td></tr>
			<tr><td height="32">&nbsp;</td></tr>
		</table>

		<table class="inner-content-email-table" width="540" border="0" cellspacing="0" cellpadding="0" style="background: #545d6f;" bgcolor="#545d6f">
			<tr><td height="30">&nbsp;</td></tr>
			<tr><td align="center">
				<font style="font-size: 24px; line-height: 28px; color: #ffffff;" size="5" color="white">
					{{code}}
				</font>
			</td></tr>
			<tr><td height="30">&nbsp;</td></tr>
		</table>

	</td></tr>

	<tr><td height="30">&nbsp;</td></tr>
	<tr><td align="center">
		<font style="font-size: 12px; line-height: 24px; color: #000"
		size="2" color="black">
			{{www}}
		</font>
	</td></tr>
	<tr><td height="40">&nbsp;</td></tr>

</table>

</body>
</html>