<div class="form__row  form__row--date{{class}}">
	<label class="form__label">{{label}}</label>
	<div class="form__input">
		<select class="days-select-js" name="{{days_name}}">{{days_options}}</select>
		<select class="month-select-js" name="{{month_name}}">{{month_options}}</select>
		<select class="year-select-js" name="{{year_name}}">{{year_options}}</select>
		{{time}}
		<div>:</div>
		<select name="{{hours_name}}">{{hours_options}}</select>
		<select name="{{minutes_name}}">{{minutes_options}}</select>
		<select name="{{seconds_name}}">{{seconds_options}}</select>
		{{/time}}
	</div>
	<div class="form__comment">{{comment}}</div>
</div>