<div class="form__row{{class}}">
	<div class="form__checkbox  form__checkbox--readonly">
		<input id="{{id}}" type="checkbox" name="{{name}}" value="{{value}}"{{checked}} />
		<span></span>
		<span>{{label}}</span>
	</div>
	<div class="form__comment">{{comment}}</div>
</div>