<div class="form__row{{class}}">
	<label class="form__label" for="{{id}}">{{label}}</label>
	<div class="form__input">
		<span>{{value}}</span>
	</div>
	<div class="form__comment">{{comment}}</div>
</div>