<div class="form__row">
	<div class="form__label">{{title}}</div>
	<div class="user-access-table">
		{{rows}}
	</div>
	<div class="button  color-one-bg  margin-t"
	onclick="resetUserAccessCheckboxes.call(this); return false;">{{uncheck}}</div>
</div>

<div class="form__row">
	<div class="form__comment"><p>{{info}}</p></div>
</div>