<div class="form__row{{class}}">
	<label class="form__label" for="{{id}}">{{label}}{{required}} <span class="color-cancel-text">*</span>{{/required}}</label>
	<div class="form__input">
		<input id="{{id}}" type="password" name="{{name}}" value="{{value}}"{{autocomplete}} />
	</div>
	<div class="form__comment">{{comment}}</div>
</div>