<div class="form__row{{class}}">
	<label class="form__label" for="{{id}}">{{label}}{{required}} <span class="color-cancel-text">*</span>{{/required}}</label>
	<div class="form__input  form__input--url">
		<input id="{{id}}" type="input" name="{{name}}" value="{{value}}" />
		<span>{{url}}</span>
	</div>
	<div class="form__comment">{{comment}}</div>
</div>