<div class="form__row">
	<label class="form__label" for="{{id}}">{{label}}</label>
	<div class="form__input">
		<button class="form__button  button{{class}}" name="{{name}}" value="{{value}}"{{onclick}}{{data}}>
			{{text}}
		</button>
	</div>
</div>