<div class="form__row{{class}}">
	<label class="form__label" for="{{id}}">{{label}}</label>
	<div class="form__input">
		<input id="{{id}}" type="input" name="{{name}}" value="{{value}}" readonly="readonly" />
	</div>
	<div class="form__comment">{{comment}}</div>
</div>