<div class="form__row{{class}}">
	<label class="form__label" for="{{id}}">{{label}}{{required}} <span class="color-cancel-text">*</span>{{/required}}</label>
	<div class="form__input  form__input--social">
		<img src="" />
		<select id="{{id}}" name="{{name}}" onchange="updateNetworkIcon(this);">{{options}}</select>
	</div>
	<div class="form__comment">{{comment}}</div>

	<!-- update icon script -->
	<script type="text/javascript">
		const updateNetworkIcon = function(input) {
			const icon = input.parentNode.querySelector("img");
			icon.src = "templates/social/" + input.value + "-circle.svg";
		};
		const network = document.querySelector('select[name="m1_item_network"]');
		updateNetworkIcon(network);
	</script>

</div>