<div class="form__row">
	<div class="module-label">Facebook Share Preview:</div>
	<div class="facebook-preview-container">
		<div class="facebook-share-preview"{{data}}></div>
		{{image}}<div class="module-col">
			<div class="image-upload">
				<div class="image-upload__label">{{image_label}}</div>
				<input type="button" value="Select" class="button  color-one-bg  select-image" data-folder="{{image_folder}}"><!--
			 --><input type="button" value="{{image_remove}}" class="button  color-one-bg  remove-image">
			 	<div class="image-upload__preview  image-container  {{image_name}}">{{image_src}}</div>
				<div class="image-upload__input  image-input">
					<input type="text" size="50" name="{{image_name}}" value="{{image_value}}" />
				</div>
	    	</div>
		</div>{{/image}}
	</div>

</div>