<div class="form__row{{class}}">
	<label class="form__checkbox" for="{{id}}">
		<input id="{{id}}" type="checkbox" name="{{name}}" value="{{value}}"{{checked}} />
		<span></span>
		<span>{{label}}{{required}} <span class="color-cancel-text">*</span>{{/required}}</span>
	</label>
	<div class="form__comment">{{comment}}</div>
</div>