<div class="user-access-table__row">
	<div class="user-access-table__cell{{class}}">{{title}}</div>
	<div class="user-access-table__cell{{class}}">{{edit}}</div>
	<div class="user-access-table__cell{{class}}">{{active}}</div>
	<div class="user-access-table__cell{{class}}">{{delete}}</div>
</div>