<div class="form__row{{class}}">
	<div class="form__checkbox  form__checkbox--readonly">
		<span class="form__checkbox__static"{{checked}}></span>
		<span>{{label}}</span>
	</div>
	<div class="form__comment">{{comment}}</div>
</div>