<div class="form__row">
	<div class="image-upload{{class}}">
		
		<div class="image-upload__label">{{label}}</div>
		
		<div class="image-upload__comment">{{comment}}</div>
		
		<input type="button" value="{{button_select}}"
		class="button  color-one-bg  select-image  margin-r-half"
		data-folder="{{folder}}" /><!--

	 --><input type="button" value="{{button_remove}}"
	 	class="button  color-one-bg  remove-image" />

	 	<div class="image-upload__preview 
	 	image-container">
			{{image}}
		</div>

		<div class="image-upload__input  image-input">
			{{input}}
		</div>

	</div>
</div>