<div class="wrap  form  color-bg">

	{{message}}

	<form method="post" action="{{action}}" />

		{{buttons_top}}
		<div class="form__buttons  margin-b">
			{{submit}}{{apply}}{{cancel}}
		</div>
		{{/buttons_top}}

		{{contnet_top}}<div class="margin-b">{{contnet_top}}</div>{{/contnet_top}}
		{{content}}

		<div class="form__buttons  margin-t">
			{{submit}}{{apply}}{{cancel}}
		</div>

	</form>

	{{gallery}}{{gallery}}{{/gallery}}

</div>