<div class="list__item  color-one-text  color-light-bg{{class}}" data-id="{{id}}">

	<div class="list__cell  list__cell--expand">{{expand}}</div>

	<div class="list__cell  list__cell--fill  list__cell--first">
		{{name}}
	</div>
		
	<div class="list__cell  list__cell--template  color-one-lighter-text  text-right">
		{{tpl}}
	</div>

	<div class="list__cell  list__cell--icon" data-action="view">{{view}}</div>
	<div class="list__cell  list__cell--icon-move" data-action="move">{{move}}</div>
	<div class="list__cell  list__cell--icon" data-action="edit">{{edit}}</div>
	<div class="list__cell  list__cell--icon" data-action="default">{{default}}</div>
	<div class="list__cell  list__cell--icon" data-action="active">{{active}}</div>
	{{copy}}
	<div class="list__cell  list__cell--icon" data-action="delete">{{delete}}</div>

</div>