<div class="wrap  list  color-bg{{class}}">

	{{message}}

	{{buttons_top}}{{buttons}}{{/buttons_top}}

	<div class="list__item  list__item--header  color-one-text  color-bg-darker">
		{{header}}
	</div>

	{{content}}

	{{buttons_bottom}}{{buttons}}{{/buttons_bottom}}

</div>