<div class="wrap  list  color-bg">

	{{message}}

	{{button}}

	<div class="list__item  list__item--header  color-one-text  color-bg-darker">

		<div class="list__cell  list__cell--id">
			{{id}}
		</div>

		<div class="list__cell  list__cell--fill">
			{{name}}
		</div>

		<div class="list__cell  list__cell--fill">
			{{date}}
		</div>

		<div class="list__cell  list__cell--icon">{{edit}}</div>
		<div class="list__cell  list__cell--icon">{{default}}</div>
		<div class="list__cell  list__cell--icon">{{active}}</div>
		<div class="list__cell  list__cell--icon">{{copy}}</div>
		<div class="list__cell  list__cell--icon">{{delete}}</div>

	</div>

	{{content}}

	{{button}}

</div>