<div class="list__item  color-one-text  color-light-bg{{class}}" data-id="{{id}}">

	<div class="list__cell  list__cell--id">
		{{id}}
	</div>

	<div class="list__cell  list__cell--fill">
		<a class="list__item--link  color-one-text" href="{{link}}">{{name}}</a>
	</div>

	<div class="list__cell  list__cell--fill">
		{{date}}
	</div>

	<div class="list__cell  list__cell--icon" data-action="edit">{{edit}}</div>
	<div class="list__cell  list__cell--icon" data-action="default">{{default}}</div>
	<div class="list__cell  list__cell--icon" data-action="active">{{active}}</div>
	<div class="list__cell  list__cell--icon" data-action="copy">{{copy}}</div>
	<div class="list__cell  list__cell--icon" data-action="delete">{{delete}}</div>

</div>