<table class="inner-content-email-table" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td height="10">&nbsp;</td></tr>
	<tr><td align="center" style="font-size: 10px; line-height: 10px;">
		
		<table class="inner-content-email-table"
		width="540" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<font style="font-size: 12px; line-height: 20px; text-transform: uppercase; font-weight: bold;"
					size="3" color="#222D39">
						{{label}}
					</font>
				</td>
			</tr>
		</table>

	</td></tr>
	<tr><td height="10">&nbsp;</td></tr>
</table>

<table class="inner-content-email-table" width="540" border="0" cellspacing="0" cellpadding="0" style="background: #F3F5FA;" bgcolor="#F3F5FA">
	<tr><td height="20">&nbsp;</td></tr>
	<tr><td align="center" style="font-size: 10px; line-height: 10px;">
		
		<table class="inner-content-email-table"
		width="480" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<font style="font-size: {{value_size}}; line-height: 1.5em; font-family: 'Arial', sans-serif;"
					size="3" color="#222D39">
						{{value}}
					</font>
				</td>
			</tr>
		</table>

	</td></tr>
	<tr><td height="20">&nbsp;</td></tr>
</table>