<section class="section  section--home-why">

	<div class="header-space"></div>
	
	<div class="wrap  wrap--small  text-center  relative">

		<span class="background-circle  text-left">
			<span></span>
		</span>

		<div class="text  relative  title">
			{{title}}<h2 class="title-default  margin-b-half">{{title}}</h2>{{/title}}
			{{text}}<div class="text-default">{{text}}</div>{{/text}}
		</div>

		<div class="icon-list  margin-t-medium  relative">
			{{items}}
		</div>

	</div>

</section>