<div class="icon-list__item">
	<div class="icon-list__image  image  image--circle  margin-h-xlarge  margin-b">
		{{icon}}
	</div>
	<div class="icon-list__title  text  text-large  text-strong  margin-b-half">{{title}}</div>
	{{text}}<div class="text  text-default">{{text}}</div>{{/text}}
</div>