<div class="intro-background">
	<div class="intro-background__image  bg-cover" style="background-image: url('{{bg_image}}');"></div>
	<div class="intro-background__overlay  absolute">
		<div class="absolute"></div>
		<div class="absolute"></div>
	</div>
</div>

<section class="section  section--intro">
	
	<div class="intro  text-center  relative">

		<div class="header-space"></div>

		<h1 class="text  title-xlarge  margin-v-medium">
			{{title}}
		</h1>

		<div class="intro__subtitle  margin-b-medium  text">
			{{subtitle}}
		</div>

		{{cta_text}}<a class="button  button--inline  button--fancy  margin-b-large" href="{{cta_link}}">
			{{cta_text}}
		</a>{{/cta_text}}
	
		{{image}}<div class="intro__image  padding-all">
			<img src="{{image}}" alt="{{image_alt}}" />
		</div>{{/image}}
	
	</div>

</section>