<div class="image-fancy  people__image">
	{{video}}<a class="people__link  absolute" data-fancybox data-src="{{video}}" href="{{video}}"></a>{{/video}}
	<div></div>
	<div class="image  image--people  image--fancy  images-load-js">
		{{image}}<img class="images-set-position-js" src="{{image}}" alt="{{image_alt}}" />{{/image}}
	</div>
	{{video}}<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 94 95" xml:space="preserve"> <circle cx="47" cy="47.9" r="47"/> <path fill="#FFFFFF" d="M60.6,44.6c1.5,1.2,1.5,3.5,0,4.7L42.9,63.2c-2,1.5-4.8,0.1-4.8-2.4V33.2c0-2.5,2.9-3.9,4.8-2.4L60.6,44.6z"/> </svg>{{/video}}
</div>
<div class="text  text-right  margin-r  margin-t">
	<h3 class="font-secondary  text-large  people__name  margin-b-small">{{name}}</h3>
	<div class="margin-b-half  text-default">{{position}}</div>
	{{video}}<a class="learn-more  text-default" data-fancybox data-src="{{video}}" href="{{video}}">
		{{video_text}}
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 451.846 451.847" xml:space="preserve"> <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/> </svg>
	</a>{{/video}}
</div>