<section class="section">
	
	<div class="header-space"></div>

	<div class="wrap">
		<div class="people  relative">
			<div class="people__col">
				<div class="people__title  text  text-right  padding-r-half  margin-b-medium">
					<h2 class="title-default  margin-b">{{title}}</h2>
					<div class="text-default">{{text}}</div>
				</div>
				{{member_1}}
			</div>
			<div class="people__col  margin-l-xlarge">{{member_2}}</div>
			<div class="people__col  margin-l-xlarge">{{member_3}}</div>
		</div>
	</div>

</section>