<section class="section">

	<div class="header-space"></div>

		<div class="home-pricing  padding-v-large">

			<div class="wrap">
				<div class="text  text-center  margin-b-medium  title">
					{{title}}<h2 class="title-default  margin-b-half">{{title}}</h2>{{/title}}
					{{text}}<div class="text-default">{{text}}</div>{{/text}}
				</div>
			</div>

			<div class="wrap  pricing">
				{{pricing_plan1}}
				{{pricing_plan2}}
				{{pricing_plan3}}
			</div>

			{{footer}}<div class="margin-t-medium  text-center  padding-v-small  text  text-default">
				{{footer}}
			</div>{{/footer}}

		</div>

	</div>

</section>