<section class="section  section--video">
	
	<div class="header-space"></div>

	<div class="wrap">
		<div class="video  relative">
			{{video_link}}<a class="video__link  absolute" data-fancybox data-src="{{video_link}}" href="{{video_link}}"></a>{{/video_link}}
			<div class="video__bg  bg-cover  absolute"{{video_bg}}></div>
			<div class="video__overlay  absolute">
				<div class="absolute"></div>
				<div class="absolute"></div>
			</div>
			<div class="video__text  absolute  text  padding-h-xlarge  padding-v-large">
				<h2 class="title-xlarge">
					{{title}}
				</h2>
				<div class="text-default">{{subtitle}}</div>
			</div>
			{{video_link}}<div class="video__play">
				<div class="text-upper  margin-b-half  text  text-default">{{cta_text}}</div>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 94 95" xml:space="preserve"> <circle cx="47" cy="47.9" r="47"/> <path fill="#FFFFFF" d="M60.6,44.6c1.5,1.2,1.5,3.5,0,4.7L42.9,63.2c-2,1.5-4.8,0.1-4.8-2.4V33.2c0-2.5,2.9-3.9,4.8-2.4L60.6,44.6z"/> </svg>
			</div>{{/video_link}}
		</div>
	</div>

</section>