/* --------------------------------- *\

	Define Font

	@source https://google-webfonts-helper.herokuapp.com/fonts/montserrat?subsets=latin,latin-ext

\* --------------------------------- */
/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* --------------------------------- *\

	Basic text stuff

\* --------------------------------- */
:root {
  --font-title: "DM Serif Display", "Times New Roman", sans-serif;
  --font-main: "Open Sans", "Arial", sans-serif;
}

html,
body,
select,
input,
textarea {
  font-family: var(--font-main);
  line-height: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--color-text);
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--color-main-hover);
}

em {
  font-style: italic;
}

.text-upper {
  text-transform: uppercase;
}

.text-strong,
strong {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.font-secondary {
  font-family: var(--font-title);
}

.title-xlarge,
.title-large,
.title-default,
.title-small {
  font-family: var(--font-title);
  line-height: 1em;
  color: var(--color-title);
}

.intro .title-xlarge,
.intro .title-large,
.intro .title-default,
.intro .title-small {
  color: var(--color-text-white);
}

.intro--pricing .title-xlarge,
.intro--pricing .title-large,
.intro--pricing .title-default,
.intro--pricing .title-small {
  color: var(--color-title);
}

.learn-more {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}
.learn-more > svg {
  margin-top: 0.1em;
  width: 0.6em;
  height: 0.6em;
  margin-left: 1em;
  fill: var(--color-main);
}
.learn-more:hover {
  color: var(--color-main-hover);
}
.learn-more:hover > svg {
  fill: var(--color-main-hover);
}

/* --------------------------------- *\

	Text Container

\* --------------------------------- */
.text {
  font-size: 1em;
  line-height: 1.5em;
}
.text.title-xlarge,
.text .title-xlarge {
  font-size: 3.75em;
  line-height: 1em;
  font-family: var(--font-title);
  color: var(--color-title);
}
.text.title-large,
.text .title-large {
  font-size: 2.8125em;
  line-height: 1em;
  font-family: var(--font-title);
  color: var(--color-title);
}
.text h2, .text.title-default,
.text .title-default {
  font-size: 2.25em;
  line-height: 1.2em;
  font-family: var(--font-title);
  color: var(--color-title);
}
.text h3, .text.title-small,
.text .title-small {
  font-size: 1.75em;
  line-height: 1.2em;
  font-family: var(--font-title);
  color: var(--color-title);
}
.text.text-xlarge,
.text .text-xlarge {
  font-size: 1.875em;
  line-height: 1.25em;
}
.text.text-large,
.text .text-large {
  font-size: 1.25em;
}
.text.text-medium,
.text .text-medium {
  font-size: 1.125em;
}
.text.text-default,
.text .text-default {
  font-size: 1em;
}
.text.text-small,
.text .text-small {
  font-size: 0.875em;
}
.text.text-xsmall,
.text .text-xsmall {
  font-size: 0.75em;
}
.text p + p,
.text p + ul,
.text p + ol,
.text ul + ul,
.text ul + p,
.text ul + ol,
.text ol + ol,
.text ol + p,
.text ol + ul,
.text h2 + p,
.text h2 + ul,
.text h2 + ol,
.text h3 + p,
.text h3 + ul,
.text h3 + ol {
  margin-top: 1.5em;
}
.text h2 + h2,
.text p + h2,
.text ol + h2,
.text ul + h2,
.text h3 + h2 {
  margin-top: 0.65em;
}
.text h3 + h3,
.text p + h3,
.text ol + h3,
.text ul + h3,
.text h2 + h3 {
  margin-top: 0.75em;
}
.text ul, .text ol {
  margin-left: 3rem;
}
.text li + li {
  margin-top: 0.25em;
}
.text ul > li {
  list-style-type: disc;
}
.text ol > li {
  list-style-type: decimal;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .text.text-xlarge,
.text .text-xlarge {
    font-size: 2.5em;
  }
  .text h2, .text.title-default,
.text .title-default {
    font-size: 2em;
  }
  .text h3, .text.title-small,
.text .title-small {
    font-size: 1.5em;
  }
  .text.text-large,
.text .text-large {
    font-size: 1.8em;
  }
  .text.text-default,
.text .text-default, .text.text-medium,
.text .text-medium {
    font-size: 1.6em;
    line-height: 1.5em;
  }

  .footer .text.text-small,
.footer .text .text-small {
    font-size: 1.6em;
    line-height: 1.5em;
  }

  .title {
    padding: 0 3rem;
  }
}
.ck-editor {
  font-size: 16px;
  line-height: 1.5em;
  padding: 1em 1.25em;
  margin: 0;
}
.ck-editor h2 {
  font-size: 25px;
}
.ck-editor h3 {
  font-size: 21px;
}
.ck-editor p, .ck-editor h2, .ck-editor h3, .ck-editor ul, .ck-editor ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.ck-editor p + p,
.ck-editor p + ul,
.ck-editor p + ol,
.ck-editor ul + ul,
.ck-editor ul + p,
.ck-editor ul + ol,
.ck-editor ol + ol,
.ck-editor ol + p,
.ck-editor ol + ul,
.ck-editor h2 + p,
.ck-editor h2 + ul,
.ck-editor h2 + ol,
.ck-editor h3 + p,
.ck-editor h3 + ul,
.ck-editor h3 + ol {
  margin-top: 21px;
}
.ck-editor h2 + h2,
.ck-editor p + h2,
.ck-editor ol + h2,
.ck-editor ul + h2,
.ck-editor h3 + h2 {
  margin-top: 21px;
}
.ck-editor h3 + h3,
.ck-editor p + h3,
.ck-editor ol + h3,
.ck-editor ul + h3,
.ck-editor h2 + h3 {
  margin-top: 21px;
}
.ck-editor ul, .ck-editor ol {
  margin-left: 48px;
  padding-left: 0;
}
.ck-editor li + li {
  margin-top: 10px;
}

/*# sourceMappingURL=--2-text.css.map */
