/* --------------------------------- *\

	html, body

\* --------------------------------- */
html,
body {
  width: 100%;
  height: 100%;
}

/* --------------------------------- *\

	Margins and padding

\* --------------------------------- */
.margin-r {
  margin-right: 2rem;
}

.margin-r-medium {
  margin-right: 3rem;
}

.margin-r-large {
  margin-right: 4rem;
}

.margin-r-xlarge {
  margin-right: 6rem;
}

.margin-r-small {
  margin-right: 0.5rem;
}

.margin-r-half {
  margin-right: 1rem;
}

.margin-l {
  margin-left: 2rem;
}

.margin-l-medium {
  margin-left: 3rem;
}

.margin-l-large {
  margin-left: 4rem;
}

.margin-l-xlarge {
  margin-left: 6rem;
}

.margin-l-small {
  margin-left: 0.5rem;
}

.margin-l-half {
  margin-left: 1rem;
}

.margin-b {
  margin-bottom: 2rem;
}

.margin-b-medium {
  margin-bottom: 3rem;
}

.margin-b-large {
  margin-bottom: 4rem;
}

.margin-b-xlarge {
  margin-bottom: 6rem;
}

.margin-b-small {
  margin-bottom: 0.5rem;
}

.margin-b-half {
  margin-bottom: 1rem;
}

.margin-t {
  margin-top: 2rem;
}

.margin-t-medium {
  margin-top: 3rem;
}

.margin-t-large {
  margin-top: 4rem;
}

.margin-t-xlarge {
  margin-top: 6rem;
}

.margin-t-small {
  margin-top: 0.5rem;
}

.margin-t-half {
  margin-top: 1rem;
}

.margin-h {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-h-medium {
  margin-left: 3rem;
  margin-right: 3rem;
}

.margin-h-large {
  margin-left: 4rem;
  margin-right: 4rem;
}

.margin-h-xlarge {
  margin-left: 6rem;
  margin-right: 6rem;
}

.margin-h-small {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.margin-h-half {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-v {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-v-medium {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-v-large {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.margin-v-xlarge {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.margin-v-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.margin-v-half {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-all {
  margin: 2rem;
}

.margin-all-medium {
  margin: 3rem;
}

.margin-all-large {
  margin: 4rem;
}

.margin-all-xlarge {
  margin: 6rem;
}

.margin-all-small {
  margin: 0.5rem;
}

.margin-all-half {
  margin: 1rem;
}

.padding-r {
  padding-right: 2rem;
}

.padding-r-medium {
  padding-right: 3rem;
}

.padding-r-large {
  padding-right: 4rem;
}

.padding-r-xlarge {
  padding-right: 6rem;
}

.padding-r-small {
  padding-right: 0.5rem;
}

.padding-r-half {
  padding-right: 1rem;
}

.padding-l {
  padding-left: 2rem;
}

.padding-l-medium {
  padding-left: 3rem;
}

.padding-l-large {
  padding-left: 4rem;
}

.padding-l-xlarge {
  padding-left: 6rem;
}

.padding-l-small {
  padding-left: 0.5rem;
}

.padding-l-half {
  padding-left: 1rem;
}

.padding-b {
  padding-bottom: 2rem;
}

.padding-b-medium {
  padding-bottom: 3rem;
}

.padding-b-large {
  padding-bottom: 4rem;
}

.padding-b-xlarge {
  padding-bottom: 6rem;
}

.padding-b-small {
  padding-bottom: 0.5rem;
}

.padding-b-half {
  padding-bottom: 1rem;
}

.padding-t {
  padding-top: 2rem;
}

.padding-t-medium {
  padding-top: 3rem;
}

.padding-t-large {
  padding-top: 4rem;
}

.padding-t-xlarge {
  padding-top: 6rem;
}

.padding-t-small {
  padding-top: 0.5rem;
}

.padding-t-half {
  padding-top: 1rem;
}

.padding-h {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-h-medium {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-h-large {
  padding-left: 4rem;
  padding-right: 4rem;
}

.padding-h-xlarge {
  padding-left: 6rem;
  padding-right: 6rem;
}

.padding-h-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-h-half {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-v {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-v-medium {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-v-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-v-xlarge {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.padding-v-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding-v-half {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-all {
  padding: 2rem;
}

.padding-all-medium {
  padding: 3rem;
}

.padding-all-large {
  padding: 4rem;
}

.padding-all-xlarge {
  padding: 6rem;
}

.padding-all-small {
  padding: 0.5rem;
}

.padding-all-half {
  padding: 1rem;
}

/* --------------------------------- *\

	Size

\* --------------------------------- */
:root {
  --header-space: 8rem;
  --submenu-height: 5rem;
  --wrap-width: 86rem;
  --wrap-width-small: 70rem;
  --wrap-mobile: calc(100% - 6rem);
}

html, body {
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  html, body {
    font-size: 11px;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  html, body {
    font-size: 13px;
  }
}
@media (min-width: 1441px) and (max-width: 1600px) {
  html, body {
    font-size: 14px;
  }
}
@media (min-width: 1720px) and (max-aspect-ratio: 13/5) {
  html, body {
    font-size: 16px;
  }
}
@media (min-width: 1920px) and (max-aspect-ratio: 3/1) {
  html, body {
    font-size: 18px;
  }
}
@media (min-width: 1920px) and (max-aspect-ratio: 13/5) {
  html, body {
    font-size: 20px;
  }
}
@media (min-width: 568px) and (max-width: 1023px) {
  html, body {
    font-size: 1.05vw;
  }
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  html, body {
    --submenu-height: 7rem;
    font-size: 2vw;
  }
}
/* --------------------------------- *\

	section

\* --------------------------------- */
.section {
  width: 100%;
  display: block;
  position: relative;
}

.section--intro {
  min-height: 100%;
  z-index: 3;
}

.section--home-why {
  z-index: 1;
}

.section--home-why + .section {
  z-index: 4;
}

@media (max-width: 1023px) and (min-width: 768px) and (orientation: portrait), (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .section--intro {
    min-height: 0;
  }
}
/* --------------------------------- *\

	Wrap

\* --------------------------------- */
.wrap {
  width: 100%;
  max-width: var(--wrap-width);
  margin-right: auto;
  margin-left: auto;
}

.wrap--small {
  max-width: var(--wrap-width-small);
}

.wrap-full {
  min-height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .wrap {
    width: var(--wrap-mobile);
    max-width: none;
  }

  .wrap--small {
    max-width: none;
  }

  .section--video .wrap,
.section--subscribe .wrap {
    width: 100%;
  }

  .wrap-full {
    min-height: 0;
    position: static;
  }
}

/*# sourceMappingURL=--3-layout.css.map */
