/* --------------------------------- *\

	Button Style

\* --------------------------------- */
.button {
  border-radius: 0.8em;
  height: 4rem;
  line-height: 4rem;
  font-size: 1rem;
  padding: 0;
  border: 0;
  display: block;
  font-weight: 700;
  text-align: center;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  white-space: nowrap;
  background: var(--color-button);
  color: var(--color-text-white);
}
.button:hover {
  background: var(--color-button-hover);
  color: var(--color-text-white);
}

.button--off {
  cursor: default;
}

.button--inline {
  display: inline-block;
  width: auto;
  padding: 0 5em;
}

.button--fancy {
  border-radius: 0 1.5em 1.5em 1.5em;
}

.button--white {
  background: var(--color-white);
  color: var(--color-button);
}

.button--border {
  position: relative;
}
.button--border:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.8em;
  position: absolute;
  top: 0;
  left: 0;
}

.header .button {
  height: 3.6rem;
  line-height: 3.6rem;
}
.header .button--inline {
  padding: 0 3em;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .button {
    height: 5.5rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
  }

  .header .button {
    height: 5.5rem;
    line-height: 5.5rem;
  }
}

/*# sourceMappingURL=--4-buttons.css.map */
