/* --------------------------------- *\

	Cookies

\* --------------------------------- */
.cookies {
  background: var(--color-main);
  color: var(--color-white);
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  width: 35rem;
  z-index: 1001;
  opacity: 1;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-name: cookies_animate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  border-bottom-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.cookies__buttons {
  display: flex;
}
.cookies__buttons .button {
  flex: 1;
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .cookies {
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
    animation-duration: 0.5s;
    animation-name: cookies_animate_mob;
  }
  .cookies .text {
    font-size: 1.75rem;
  }
}
@keyframes cookies_animate {
  0% {
    left: -30rem;
  }
  100% {
    left: 3rem;
  }
}
@keyframes cookies_animate_mob {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

/*# sourceMappingURL=--7-cookies.css.map */
