/* --------------------------------- *\

	Form

\* --------------------------------- */
:root {
  --input-size: 3rem;
  --font-size-input: 1rem;
}

/* --------------------------------- *\

	Inputs

\* --------------------------------- */
/* main wrap */
/* elements - inputs etc. */
.form__row,
.form__comment,
.form__input {
  display: block;
  width: 100%;
}

/* margin for the rows */
.form__row {
  margin-bottom: calc(var(--input-size) / 3);
}

/* remove label and comment if empty */
.form__label:empty,
.form__comment:empty {
  display: none;
}

/* style of the input tags */
.form__input > input[type=input],
.form__input > input[type=text],
.form__input > input[type=number],
.form__input > input[type=email],
.form__input > input[type=tel],
.form__input > input[type=password],
.form__input > input[type=file],
.form__input > textarea,
.form__select > select {
  font-size: var(--font-size-input);
  font-family: var(--font-main);
  height: var(--input-size);
  line-height: var(--input-size);
  padding: 0 calc(var(--input-size) / 4);
  width: 100%;
  display: block;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  outline: none;
  filter: none;
  -webkit-appearance: none;
}
.form__input > input[type=input]:focus,
.form__input > input[type=text]:focus,
.form__input > input[type=number]:focus,
.form__input > input[type=email]:focus,
.form__input > input[type=tel]:focus,
.form__input > input[type=password]:focus,
.form__input > input[type=file]:focus,
.form__input > textarea:focus,
.form__select > select:focus {
  border-width: 1px;
}

.form__row--hidden {
  display: none;
}

.form__row--number .form__input > input[type=input],
.form__row--number .form__input > input[type=text],
.form__row--number .form__input > input[type=tel],
.form__row--number .form__input > input[type=number] {
  font-family: monospace;
}

.form__input > textarea {
  padding: calc(var(--input-size) / 3);
  padding-top: calc(var(--input-size) / 4);
  line-height: 1.5em;
  height: calc(1.5em * 10 + var(--input-size) / 3 * 2);
}

.form__label {
  display: inline-block;
  font-size: var(--font-size-input);
  line-height: 1.5em;
  margin-bottom: calc(var(--input-size) / 6);
}

.form__comment {
  font-size: var(--font-size-input);
  line-height: 1.5em;
  margin-top: calc(var(--input-size) / 6);
}

.form__errors {
  display: none;
}

.form__errors--show {
  display: block;
}

.form__error {
  font-size: var(--font-size-input);
  line-height: 1.5em;
  margin-top: calc(var(--input-size) / 6);
}
.form__error:empty {
  display: none;
}

.form__input > input::-webkit-input-placeholder,
.form__input > textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
  opacity: 0.3;
}
.form__input > input::-moz-placeholder,
.form__input > textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  opacity: 0.3;
}
.form__input > input:-ms-input-placeholder,
.form__input > textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
  opacity: 0.3;
}
.form__input > input:-moz-placeholder,
.form__input > textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  opacity: 0.3;
}
.form__input > input:focus::-webkit-input-placeholder,
.form__input > textarea:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent;
  opacity: 0;
}
.form__input > input:focus::-moz-placeholder,
.form__input > textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
  opacity: 0;
}
.form__input > input:focus:-ms-input-placeholder,
.form__input > textarea:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent;
  opacity: 0;
}
.form__input > input:focus:-moz-placeholder,
.form__input > textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
  opacity: 0;
}

/* -------------------------------- *\

	Checkbox and radio

\* -------------------------------- */
.form__checkbox,
.form__radio {
  display: inline-flex;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-start;
}
.form__checkbox > input,
.form__radio > input {
  display: none;
}
.form__checkbox > input[type=radio]:checked + .form__radio__check > div:first-child,
.form__checkbox > input[type=checkbox]:checked + .form__checkbox__check > div:first-child,
.form__radio > input[type=radio]:checked + .form__radio__check > div:first-child,
.form__radio > input[type=checkbox]:checked + .form__checkbox__check > div:first-child {
  display: none;
}
.form__checkbox > input[type=radio]:checked + .form__radio__check > div:last-child,
.form__checkbox > input[type=checkbox]:checked + .form__checkbox__check > div:last-child,
.form__radio > input[type=radio]:checked + .form__radio__check > div:last-child,
.form__radio > input[type=checkbox]:checked + .form__checkbox__check > div:last-child {
  display: block;
}

.form__radio__check,
.form__checkbox__check {
  display: block;
  width: var(--font-size-input);
  height: var(--font-size-input);
  margin-right: calc(var(--font-size-input) * .75);
  margin-top: calc(var(--font-size-input) * .3);
  position: relative;
}
.form__radio__check > div, .form__radio__check svg,
.form__checkbox__check > div,
.form__checkbox__check svg {
  width: var(--font-size-input);
  height: var(--font-size-input);
}
.form__radio__check svg,
.form__checkbox__check svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.form__radio__check svg + svg,
.form__checkbox__check svg + svg {
  width: 30%;
  height: 30%;
  top: 35%;
  left: 35%;
}
.form__radio__check > div:last-child,
.form__checkbox__check > div:last-child {
  display: none;
}

.form__checkbox__check svg {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}

.form__checkbox__label,
.form__radio__label {
  flex: 1;
  font-size: var(--font-size-input);
  line-height: 1.5em;
}
.form__checkbox__label:hover > span,
.form__radio__label:hover > span {
  border-bottom: 1px solid;
}

/* --------------------------------- *\

	Select

\* --------------------------------- */
.form__select {
  position: relative;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}
.form__select > select {
  /* clear style */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  /* remove border and background */
  background: transparent;
  border: 0;
  /* padding */
  padding-left: calc(var(--input-size) / 3);
  padding-right: calc(var(--input-size) + var(--input-size) / 3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  position: relative;
}
.form__select > div {
  width: var(--input-size);
  height: var(--input-size);
  position: absolute;
  top: 0;
  right: 0;
}
.form__select > div > svg {
  display: block;
  width: 40%;
  height: 40%;
  margin-left: 15%;
  margin-top: 30%;
}

/* --------------------------------- *\

	File input

\* --------------------------------- */
.form__row--file .form__input {
  display: flex;
  position: relative;
}
.form__row--file .form__input label, .form__row--file .form__input input {
  height: var(--input-size);
  line-height: var(--input-size);
}
.form__row--file .form__input input {
  position: absolute;
  visibility: hidden;
}
.form__row--file .form__input label {
  width: auto;
  padding: 0 calc(var(--input-size) / 2);
  margin-right: calc(var(--input-size) / 3);
}

.form__file {
  flex: 1;
  color: rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-input);
  height: var(--input-size);
  line-height: var(--input-size);
  padding: 0 calc(var(--input-size) / 3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 1px;
  border-style: solid;
}

/* --------------------------------- *\

	Update style

\* --------------------------------- */
.form__row {
  margin-bottom: 2rem;
}

.form__label > span.color-error-text {
  color: var(--color-main);
}

.form__input > input[type=input],
.form__input > input[type=tel],
.form__input > input[type=email],
.form__input > input[type=text],
.form__input > textarea {
  color: var(--color-black);
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-gray);
}
.form__input > input[type=input]:focus, .form__input > input[type=input]:hover,
.form__input > input[type=tel]:focus,
.form__input > input[type=tel]:hover,
.form__input > input[type=email]:focus,
.form__input > input[type=email]:hover,
.form__input > input[type=text]:focus,
.form__input > input[type=text]:hover,
.form__input > textarea:focus,
.form__input > textarea:hover {
  border-color: var(--color-main);
}

.form__input > textarea {
  height: var(--input-size);
  line-height: calc(var(--input-size) - 1px);
  padding-bottom: 0;
  padding-top: 0;
  resize: none;
}

.form__error {
  color: var(--color-error);
}

.form__row--error .form__input > input[type=input],
.form__row--error .form__input > input[type=tel],
.form__row--error .form__input > input[type=email],
.form__row--error .form__input > input[type=text],
.form__row--error .form__input > textarea {
  border-color: var(--color-error);
}

.form__radio-container {
  display: flex;
}
.form__radio-container .form__row {
  width: auto;
}
.form__radio-container .form__row + .form__row {
  margin-left: 4rem;
}

.form__radio__check div > svg:first-child {
  fill: var(--color-white);
}
.form__radio__check svg + svg {
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
}

input[type=radio]:checked + .form__radio__check div:last-child > svg:last-child {
  fill: var(--color-main);
}

.form__checkbox__label:hover > span,
.form__radio__label:hover > span {
  border-bottom: 0;
  color: var(--color-main);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px), (max-width: 1023px) and (orientation: landscape) and (pointer: coarse) {
  :root {
    --input-size: 48px;
    --font-size-input: 16px;
  }

  .form__radio-container {
    display: block;
  }
  .form__radio-container .form__row {
    width: 100%;
  }
  .form__radio-container .form__row + .form__row {
    margin-left: 0;
  }
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .form .button {
    width: 100%;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
  }
}
@media (max-width: 1023px) and (orientation: landscape) and (pointer: coarse) {
  .form .button {
    font-size: 1.6rem;
    height: 5.5rem;
    line-height: 5.5rem;
  }
}

/*# sourceMappingURL=--8-8-form.css.map */
