/* --------------------------------- *\

	Features Block

\* --------------------------------- */
.features-block {
  color: var(--color-text-white);
  background: #000;
  border-bottom-right-radius: 12rem;
  display: flex;
}
.features-block > div {
  flex: 1;
}
.features-block .title-default {
  color: var(--color-text-white);
}

.features-block__list {
  display: flex;
  flex-wrap: wrap;
}
.features-block__list > div {
  width: calc(50% - 1.5rem);
  margin-bottom: 3rem;
  margin-right: 3rem;
  color: rgba(255, 255, 255, 0.6);
}
.features-block__list > div:nth-child(2n) {
  margin-right: 0;
}

.features-block__icon {
  width: 5rem;
  height: 5rem;
}
.features-block__icon > svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--color-white);
}

.features-block__bg {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .features-block {
    flex-direction: column;
  }

  .features-block__bg {
    position: static;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
  }
}

/*# sourceMappingURL=--8-6-features-block.css.map */
