/* --------------------------------- *\

	Background circles

\* --------------------------------- */
.background-circle {
  position: absolute;
  width: 120rem;
  height: 120rem;
  overflow: hidden;
  top: 0;
}
.background-circle > span {
  display: block;
  width: 120rem;
  height: 120rem;
  background: var(--color-bg);
  border-radius: 50%;
  position: absolute;
}

.section--home-why .background-circle {
  right: 8rem;
  top: -40rem;
  width: calc( 100% + (100vw - var(--wrap-width-small)) / 2 );
}
.section--home-why .background-circle > span {
  right: 0;
  background: linear-gradient(225deg, var(--color-bg) 0%, rgba(255, 255, 255, 0) 50%);
}

.features .background-circle {
  left: -5rem;
  top: -2.25rem;
  width: calc( 100% + (100vw - var(--wrap-width-small)) / 2 );
}
.features .background-circle > span {
  left: 0;
  background: linear-gradient(145deg, var(--color-bg) 0%, rgba(255, 255, 255, 0) 50%);
}

/*# sourceMappingURL=--8-7-background-circle.css.map */
