/* --------------------------------- *\

	Footer

\* --------------------------------- */
.footer {
  color: var(--color-comp);
}

.footer__content {
  display: flex;
}
.footer__content > div {
  flex: 1;
}

.footer__logo {
  width: 10rem;
  height: auto;
  display: block;
  fill: var(--color-comp);
}

.footer__menu {
  display: flex;
}
.footer__menu a {
  color: var(--color-comp);
}
.footer__menu a:hover {
  color: var(--color-main);
}
.footer__menu > div > div:empty {
  display: none;
}
.footer__menu > div > div:not(:empty) + div {
  margin-top: 1rem;
}

.copyright {
  color: var(--color-text);
  display: flex;
  align-items: flex-end;
}
.copyright a {
  color: var(--color-text);
}

.copyright__text {
  display: flex;
}
.copyright__text > div {
  display: flex;
}
.copyright__text > div > a {
  margin-left: 0.5rem;
}
.copyright__text > div > a:hover {
  color: var(--color-comp);
}
.copyright__text > div + div {
  margin-left: 0.5rem;
}

.social {
  display: flex;
  margin-left: auto;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.35rem;
  width: 2rem;
  height: 2rem;
  background: var(--color-gray-light);
}
.social a > svg {
  height: 40%;
  width: 40%;
  fill: var(--color-balck);
}
.social a:hover {
  background: var(--color-black);
}
.social a:hover > svg {
  fill: var(--color-white);
}
.social a + a {
  margin-left: 1rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .footer__logo {
    width: 20rem;
  }

  .footer__content {
    display: block;
  }

  .footer__menu {
    margin-top: 4rem;
  }
  .footer__menu > div:first-child {
    margin-right: 12rem;
  }

  .copyright {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 4rem;
  }

  .social {
    display: flex;
    margin-left: 0;
    margin-bottom: 4rem;
  }
  .social a {
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .social a + a {
    margin-left: 2rem;
  }

  .copyright__text {
    flex-direction: column;
  }
  .copyright__text > div {
    display: block;
  }
  .copyright__text > div > a {
    margin-left: 0;
    text-decoration: underline;
  }
  .copyright__text > div + div {
    margin-left: 0;
    margin-top: 2rem;
  }
  .copyright__text span {
    display: none;
  }
}

/*# sourceMappingURL=--8-2-footer.css.map */
