/* --------------------------------- *\

	Subscribe

\* --------------------------------- */
.subscribe {
  border-radius: 2rem;
  background: var(--color-black);
  color: var(--color-white);
  overflow: hidden;
}
.subscribe:after {
  content: "";
  display: block;
  padding-top: 30%;
}

.subscribe__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.subscribe__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.subscribe__image > img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: block;
}
.subscribe__image > img:last-child {
  display: none;
}

.subscribe__form {
  position: relative;
  width: 32rem;
}
.subscribe__form > input {
  width: 100%;
  height: 3rem;
  border-radius: 1.5rem;
  display: block;
  font-size: 1em;
  color: var(--color-comp);
  padding: 0 10rem 0 1.5rem;
  -webkit-appearance: none;
}
.subscribe__form > button {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  height: 2.4rem;
  width: 9rem;
  line-height: 2.4rem;
  border-radius: 1.5rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .subscribe {
    border-radius: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .subscribe:after {
    display: none;
  }

  .subscribe__image {
    position: static;
    height: 100vw;
  }
  .subscribe__image > img {
    display: block;
    width: 100%;
    height: auto;
    position: static;
  }
  .subscribe__image > img:first-child {
    display: none;
  }
  .subscribe__image > img:last-child {
    display: block;
  }

  .subscribe__content {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem 3rem;
    position: static;
  }
  .subscribe__content .margin-b {
    margin-bottom: 4rem;
  }

  .subscribe__form {
    width: 100%;
  }
  .subscribe__form > input {
    height: 6rem;
    border-radius: 3rem;
    font-size: 16px;
    padding: 0 16rem 0 2rem;
  }
  .subscribe__form > button {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    height: 4.8rem;
    width: 14rem;
    line-height: 4.8rem;
    border-radius: 3rem;
  }
}
/* --------------------------------- *\

	Switch

\* --------------------------------- */
.switch {
  width: 14rem;
  height: 3rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1.5rem;
  display: flex;
  font-size: 1em;
  background: var(--color-white);
  position: relative;
  padding: 0.3rem;
  box-shadow: 0 0 0 1px var(--color-bg-dark);
}
.switch > div {
  font-weight: bold;
  height: 2.4rem;
  width: 7rem;
  line-height: 2.4rem;
  color: var(--color-comp);
  position: relative;
  z-index: 2;
  transition: color 0.1s ease-in-out 0.1s;
}
.switch > div.switch__active {
  color: var(--color-white);
}
.switch > div:hover:not(.switch__active) {
  cursor: pointer;
  opacity: 0.7;
}
.switch > span {
  position: absolute;
  top: 0.3rem;
  height: 2.4rem;
  line-height: 2.4rem;
  width: 6.7rem;
  border-radius: 1.5rem;
  background: var(--color-main);
  z-index: 1;
  transition: left 0.3s ease-in-out;
}
.switch > div.switch__active:nth-child(1) ~ span {
  left: 0.3rem;
}
.switch > div.switch__active:nth-child(2) ~ span {
  left: 7rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .switch {
    width: 24rem;
    height: 5rem;
    border-radius: 2.5rem;
    padding: 0.5rem;
    font-size: 1.25em;
  }
  .switch > div {
    height: 4rem;
    width: 12rem;
    line-height: 4rem;
  }
  .switch > span {
    top: 0.5rem;
    height: 4rem;
    line-height: 4rem;
    width: 11.5rem;
    border-radius: 2.5rem;
  }
  .switch > div.switch__active:nth-child(1) ~ span {
    left: 0.5rem;
  }
  .switch > div.switch__active:nth-child(2) ~ span {
    left: 12rem;
  }

  .switch--pricing.margin-b-large {
    margin-bottom: 2rem;
  }
}
/* --------------------------------- *\

	Search

\* --------------------------------- */
.search {
  width: 50%;
  display: block;
}

.search__input {
  width: 100%;
  height: 3rem;
  border-radius: 1.5rem;
  display: block;
  font-size: 1em;
  color: var(--color-text);
  border: 1px solid var(--color-gray);
  padding: 0 1.5rem 0 3.5rem;
  -webkit-appearance: none;
}
.search__input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent;
  opacity: 0;
}
.search__input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
  opacity: 0;
}
.search__input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent;
  opacity: 0;
}
.search__input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
  opacity: 0;
}

.search__icon {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0.85rem;
  left: 1.5rem;
  fill: var(--color-gray);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .search {
    width: 100%;
  }

  .search__input {
    height: 6rem;
    border-radius: 3rem;
    font-size: 16px;
    padding: 0 2rem 0 6rem;
  }

  .search__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    fill: var(--color-gray);
  }
}

/*# sourceMappingURL=--8-3-subscribe.css.map */
