/* --------------------------------- *\

	Large Video Block

\* --------------------------------- */
.video {
  color: var(--color-text-white);
  background: var(--color-black);
  border-bottom-right-radius: 12rem;
  overflow: hidden;
}
.video:after {
  content: "";
  display: block;
  padding-top: 45%;
}

.video__overlay > div:first-child {
  background: rgba(16, 22, 28, 0.4);
}
.video__overlay > div:last-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(16, 22, 28, 0) 100%);
}

.video__text {
  display: flex;
  flex-direction: column;
  display: flex;
}
.video__text .title-xlarge {
  color: var(--color-text-white);
}
.video__text > div {
  margin-top: auto;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video__play > svg {
  width: 8rem;
  height: 8rem;
  fill: var(--color-main);
  cursor: pointer;
}

.video__link {
  z-index: 10;
  outline: 0;
}

@media (pointer: fine) {
  .video__link:hover ~ .video__play > svg {
    fill: var(--color-main-hover);
  }
  .video__link:hover ~ .video__overlay > div:first-child {
    background: rgba(16, 22, 28, 0.5);
  }
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .video {
    border-bottom-right-radius: 0;
  }
  .video:after {
    padding-top: 100%;
  }

  .video__text {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/*# sourceMappingURL=--8-5-video.css.map */
