/* --------------------------------- *\

	Features Title

\* --------------------------------- */
.features-title {
  display: flex;
  align-items: center;
}
.features-title h2 {
  border-right: 1px solid;
}
.features-title > * {
  flex: 1;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .features-title {
    display: block;
    text-align: center;
  }
  .features-title h2 {
    border-right: 0;
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 0;
  }
}
/* --------------------------------- *\

	Feature List

\* --------------------------------- */
.feature {
  display: flex;
  margin-top: var(--header-space);
}
.feature + .feature {
  margin-top: 6rem;
}

.feature__image {
  width: 55%;
}
.feature__image > img {
  display: block;
  width: 100%;
  height: auto;
}

.feature__text {
  flex: 1;
}
.feature__text .title-default > span {
  color: var(--color-main);
}

div.feature:nth-of-type(odd) {
  flex-direction: row;
}
div.feature:nth-of-type(odd) .feature__image {
  margin-left: 0;
}

div.feature:nth-of-type(even) {
  flex-direction: row-reverse;
}
div.feature:nth-of-type(even) .feature__image {
  margin-right: 0;
}
div.feature:nth-of-type(even) .feature__text {
  text-align: right;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .feature {
    display: block;
    margin-top: 4rem;
  }
  .feature + .feature {
    margin-top: 4rem;
  }

  .feature__image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .feature__text .text {
    padding-top: 0;
  }

  div.feature:nth-of-type(even) .feature__text {
    text-align: left;
  }
}

/*# sourceMappingURL=--8-6-features-list.css.map */
