/* --------------------------------- *\

	Icon List

	For now it's only on home page

\* --------------------------------- */
.icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 1.5rem * 2);
  margin-left: -1.5rem;
}

.icon-list__item {
  width: calc(100% / 3 - 1.5rem * 2 - .1vw);
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
}

.icon-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.icon-list__image {
  box-shadow: 0px 1.125em 5.3125em rgba(41, 45, 83, 0.12);
  background: var(--color-white);
}
.icon-list__image > svg {
  fill: var(--color-main-light);
  position: absolute;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-list__title {
  color: var(--color-title);
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .icon-list {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
  }

  .icon-list__item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .icon-list__image > svg {
    width: 50%;
  }

  .icon-list__item:nth-last-child(-n+3) {
    margin-bottom: 3rem;
  }

  .icon-list__item:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=--9-2-icon-list.css.map */
