/* --------------------------------- *\

	Home Professionals

\* --------------------------------- */
.people {
  display: flex;
}
.people:after {
  content: "";
  display: block;
  padding-top: 45%;
}
.people .image {
  background: var(--color-black);
}

.people__floating-bg {
  width: 8rem;
  background: var(--color-bg);
  right: -40%;
  top: 5%;
  position: absolute;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 40%;
}

.people__col:nth-child(1) {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.people__col:nth-child(1) .people__image {
  width: 17rem;
}
.people__col:nth-child(1) .margin-r {
  margin-right: 0;
  margin-left: 2rem;
}

.people__col:nth-child(2) {
  width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.people__col:nth-child(2) .margin-r {
  margin-right: 15%;
}
.people__col:nth-child(2) .people__image > svg {
  top: auto;
  left: auto;
  right: 1rem;
  bottom: 1rem;
  fill: var(--color-main);
}
.people__col:nth-child(2) .people__image > svg > circle {
  opacity: 1;
}
.people__col:nth-child(2) .people__floating-bg {
  right: -30%;
  top: auto;
  bottom: -15%;
}

.people__col:nth-child(3) {
  width: 17rem;
}

.people__name {
  color: var(--color-title);
}

.people__link {
  z-index: 10;
  outline: 0;
}

@media (pointer: fine) {
  .people__image .people__link:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid var(--color-main);
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
  }
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .people {
    display: block;
  }
  .people:after {
    display: none;
  }

  .people__col:nth-child(1),
.people__col:nth-child(2),
.people__col:nth-child(3) {
    width: calc(100% - 6rem);
    margin-left: auto;
    margin-right: auto;
  }
  .people__col:nth-child(1) .text-right,
.people__col:nth-child(2) .text-right,
.people__col:nth-child(3) .text-right {
    text-align: left;
  }

  .people__col:nth-child(1) {
    display: block;
  }
  .people__col:nth-child(1) .people__image {
    width: 55vw;
    margin-top: 8rem;
  }
  .people__col:nth-child(1) .people__floating-bg {
    width: calc(37vw - 3rem);
    right: auto;
    left: calc(63vw - 6rem);
  }

  .people__title + div {
    display: block;
  }

  .people__col:nth-child(1) .people__title.text-right {
    text-align: center;
  }

  .people__col:nth-child(2) {
    margin-top: 8rem;
  }
  .people__col:nth-child(2) .people__floating-bg {
    width: 20rem;
    right: -3rem;
    bottom: -3rem;
  }

  .people__col:nth-child(3) {
    width: 60vw;
    margin-left: 3rem;
    margin-right: 0;
    margin-top: 8rem;
  }

  .people__name {
    padding-top: 2rem;
    margin-bottom: 0.75rem;
  }
  .people__name.text-large {
    font-size: 2em;
  }
  .people__name ~ .margin-b-half {
    margin-bottom: 2rem;
  }

  .people__image.image-fancy > div:first-child {
    transform: translate(-3rem, -3rem);
  }
  .people__image.image-fancy > svg {
    width: 6rem;
    height: 6rem;
    left: 2rem;
    top: 2rem;
  }

  .people__col:nth-child(2) .people__image > svg {
    right: 2rem;
    bottom: 2rem;
  }
}

/*# sourceMappingURL=--9-4-home-professionals.css.map */
