/* --------------------------------- *\

	Contacts

\* --------------------------------- */
.contacts {
  display: flex;
}

.contacts__col--left {
  width: 35%;
}

.contacts__col--right {
  flex: 1;
}

.contacts__floating-bg {
  width: 8rem;
  background: var(--color-bg);
  right: -4rem;
  top: 4rem;
  position: absolute;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 40%;
}

.form {
  background: var(--color-bg);
  border-radius: 1rem;
}

.contacts__list {
  margin-top: 4rem;
}
.contacts__list > li {
  display: flex;
  color: var(--color-comp);
  align-items: center;
}
.contacts__list > li > svg {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  fill: var(--color-comp);
}
.contacts__list > li > span, .contacts__list > li > a {
  flex: 1;
}
.contacts__list > li + li {
  margin-top: 2rem;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .contacts {
    display: block;
  }

  .contacts__col--left {
    width: 100%;
    padding-top: 0;
  }

  .contacts__col--right {
    margin-left: 0;
    margin-top: 4rem;
  }

  .contacts__list.text-default {
    font-size: 1.75em;
  }

  .contacts__list > li > svg {
    width: 3rem;
    height: 3rem;
  }
}

/*# sourceMappingURL=--9-5-contacts.css.map */
