/* --------------------------------- *\

	Faq Section Cols

\* --------------------------------- */
.faq {
  display: flex;
}
.faq__col:first-child {
  width: 20rem;
  background: var(--color-bg);
  border-radius: 1rem;
}
.faq__col:last-child {
  flex: 1;
}

.faq__menu > a {
  display: block;
  color: var(--color-text);
}
.faq__menu > a + a {
  margin-top: 1.5rem;
}
.faq__menu > a:hover {
  color: var(--color-main);
}

a.faq__menu__active {
  color: var(--color-main);
  font-weight: bold;
}

.faq__info {
  color: var(--color-title);
  background: var(--color-bg);
  background: linear-gradient(90deg, var(--color-bg) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 1rem;
}

.faq__search {
  color: var(--color-title);
  border-bottom: 1px solid var(--color-bg-dark);
}
.faq__search:empty {
  display: none;
}

.faq__no-results {
  display: none;
}

.faq__search--no-results ~ .faq__no-results {
  display: block;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .faq {
    display: block;
  }
  .faq__col:first-child {
    width: 100%;
    background: var(--color-bg);
    margin-bottom: 2rem;
  }

  .faq__menu {
    display: flex;
    flex-wrap: wrap;
  }
  .faq__menu > a {
    width: 50%;
    margin-top: 1.5rem;
  }
  .faq__menu > a:nth-child(1), .faq__menu > a:nth-child(2) {
    margin-top: 0;
  }
  .faq__menu > a:hover {
    color: var(--color-main);
  }
}
/* --------------------------------- *\

	Questions

\* --------------------------------- */
.question {
  border-bottom: 1px solid var(--color-bg-dark);
}
.question > div:first-child {
  display: flex;
  align-items: center;
}
.question__title {
  color: var(--color-title);
  flex: 1;
}
.question__title > div {
  display: inline;
}
.question__title > div > div {
  display: inline;
  color: var(--color-main);
  font-weight: bold;
}
.question__open {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
}
.question__open > svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: var(--color-black);
}
.question__answer {
  border-left: 1px solid var(--color-black);
}
.question--hidden {
  display: none;
}

.question--inner-pages .question__open > svg > path:first-child {
  display: none;
}

.slide-toggle-parent--open .question__open > svg > path:last-child {
  display: none;
}

@media (pointer: fine) {
  .question__open:hover, .question__title > div:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .question > div:first-child {
    padding-right: 0;
    padding-left: 0;
  }
  .question__open {
    width: 3rem;
    height: 3rem;
  }
  .question__answer {
    margin-left: calc(2rem + 1px);
  }
}

/*# sourceMappingURL=--9-6-faq.css.map */
