/* --------------------------------- *\

	Sitemap

\* --------------------------------- */
.sitemap {
  color: var(--color-title);
}
.sitemap ul li {
  margin-top: 1em;
}
.sitemap h2 {
  margin-top: 1.5em;
}

@media (max-width: 767px) and (orientation: portrait), (max-width: 567px) {
  .sitemap.text.text-medium {
    font-size: 1.25em;
  }
  .sitemap ul li {
    margin-top: 1.5em;
  }
  .sitemap h2 {
    font-size: 2.5em;
  }
}

/*# sourceMappingURL=--9-7-sitemap.css.map */
