/* -------------------------------- *\
 
 * Wraper

\* -------------------------------- */

/* todo: global sizing */
.wrap *, .wrap *:before, .wrap *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* main wrap */
.wrap {
	padding: 40px;
	font-size: 14px;
	letter-spacing: 0.025em;
}

/* clear top padding if two wraps */
.wrap + .wrap {
	padding-top: 0;
}

/* temp - šis hack ir jāaizvāc prom */
#page_tabs ~ #page_content .wrap {
	padding-top: 20px;
}





/* -------------------------------- *\
 
 * Margins & Paddings

\* -------------------------------- */

.margin-b { margin-bottom: 20px; }
.margin-t { margin-top: 20px; }
.margin-r { margin-right: 20px; }
.margin-l { margin-left: 20px; }
.margin-h { margin-left: 20px; margin-right: 20px; }
.margin-v { margin-top: 20px; margin-bottom: 20px; }
.margin-all { margin: 20px; }

.margin-b-half { margin-bottom: 10px; }
.margin-t-half { margin-top: 10px; }
.margin-r-half { margin-right: 10px; }
.margin-l-half { margin-left: 10px; }
.margin-h-half { margin-left: 10px; margin-right: 10px; }
.margin-v-half { margin-top: 10px; margin-bottom: 10px; }
.margin-all-half { margin: 10px; }

.margin-b-large { margin-bottom: 30px; }
.margin-t-large { margin-top: 30px; }
.margin-r-large { margin-right: 30px; }
.margin-l-large { margin-left: 30px; }
.margin-h-large { margin-left: 30px; margin-right: 30px; }
.margin-v-large { margin-top: 30px; margin-bottom: 30px; }
.margin-all-large { margin: 30px; }

.margin-b-doble { margin-bottom: 40px; }
.margin-t-doble { margin-top: 40px; }
.margin-r-doble { margin-right: 40px; }
.margin-l-doble { margin-left: 40px; }
.margin-h-doble { margin-left: 40px; margin-right: 40px; }
.margin-v-doble { margin-top: 40px; margin-bottom: 40px; }
.margin-all-doble { margin: 40px; }

/*
	
	Paddings

*/

.padding-b { padding-bottom: 20px; }
.padding-t { padding-top: 20px; }
.padding-r { padding-right: 20px; }
.padding-l { padding-left: 20px; }
.padding-h { padding-left: 20px; padding-right: 20px; }
.padding-v { padding-top: 20px; padding-bottom: 20px; }
.padding-all { margin: 20px; }

.padding-b-doble { padding-bottom: 40px; }
.padding-t-doble { padding-top: 40px; }
.padding-r-doble { padding-right: 40px; }
.padding-l-doble { padding-left: 40px; }
.padding-h-doble { padding-left: 40px; padding-right: 40px; }
.padding-v-doble { padding-top: 40px; padding-bottom: 40px; }
.padding-all-doble { margin: 40px; }




