/* -------------------------------- *\
 
 * List of the items/pages

\* -------------------------------- */

/* main wrap */
.list {}

/* groups */
.list__group {
	padding-left: 60px;
	display: none;
	position: relative;
}

	.list__item--expanded + .list__group {
		display: block;
	}

	.list__group > .list__group:before {
		content: '';
		display: block;
		background: #b5bdc3;
		width: 1px;
		height: calc(100% + 40px);
		position: absolute;
		top: -20px;
		left: -20px;
	}

	.list__group > .list__group:last-child:before {
		display: none;
	}

/* item */
.list__item {
	display: flex;
	height: 80px;
	margin-top: 20px;
	align-items: center;
	border-radius: 5px;
	position: relative;
}
	
	.list__group > .list__item:before {
		content: '';
		display: block;
		background: #b5bdc3;
		width: 1px;
		height: calc(100% + 20px);
		position: absolute;
		left: -20px;
		top: -20px;
	}

	.list__group > .list__item--last-child:before {
		height: calc(50% + 20px);
	}
	
	.list__group > .list__item:after {
		content: '';
		display: block;
		background: #b5bdc3;
		width: 20px;
		height: 1px;
		position: absolute;
		left: -20px;
		z-index: 1;
	}

	.list__group > .list__item > .list__cell--expand + .list__cell--first:after {
		content: '';
		display: block;
		background: #41b64b;
		width: 5px;
		height: 5px;
		border-radius: 3px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		/* this works becose direct parent has no relative/absolute */
		/* so the next one relative is .list__item */
		left: -3px;
	}

	.list__group > .list__item--off > .list__cell--expand + .list__cell--first:after {
		background: #b64741;
	}
	
	/* header */
	.list__item--header {
		font-size: 12px;
		font-weight: bold;
		margin-top: 0;
	}

	/* add margins if button prests */
	.button + .list__item--header,
	.list__item + .button,
	.list__group + .button {
		margin-top: 20px;
	}

	/* used for page name and template name */

	/* text link */
	.list__item--link {
		text-decoration: none;
		border-bottom: 1px solid;
	}

		/* text link */
		.list__item--link:hover {
			border-bottom: 1px solid transparent;
		}

	/* text link */
	.list__item--extra-info {
		margin-top: 10px;
		margin-bottom: 2px;
		display: block;
		font-size: 11px;
	}

	.list__item__button {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		border: 1px solid;
		display: inline-block;
		line-height: 3em;
		height: 3em;
		padding: 0 3em;
	}

	.list__item__button:hover {
		color: #000;
	}

/* cell */
.list__cell {}
	
	/* fill content */
	.list__cell--fill {
		flex: 1;
	}
	
	/* fill content */
	.list__cell--fill-2 {
		flex: 2;
	}

	/* cell with icons */
	.list__cell--icon,
	.list__cell--icon-move,
	.list__cell--id,
	.list__cell--expand {
		width: 90px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.list__cell--icon-move {
		width: 111px;
	}

	/* cell with text */
	.list__cell--first {
		padding-left: 30px;
	}

	/* expand col with icon */
	.list__cell--expand {
		width: 80px;
	}

		/* hide if empty */
		.list__cell--expand:empty {
			display: none;
		}

		/* need to reset padding and addit back if empty */
		.list__cell--expand + .list__cell--first { padding-left: 0; }
		.list__cell--expand:empty + .list__cell--first { padding-left: 30px; }

		.list__item--has-children > .list__cell--expand {
			position: relative;
			height: 100%;
		}

		.list__item--expanded > .list__cell--expand:before {
			content: '';
			display: block;
			background: #b5bdc3;
			position: absolute;
			width: 1px;
			height: 50%;
			top: 50%;
		}

	/* template cell in pages */
	.list__cell--template {
		width: 200px;
		font-size: 10px;
		font-family: 'Menlo', monospace;
		line-height: 20px;
		padding-right: 25px;
	}

		/* accesskey */
		.list__cell--template > span {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	/* active indecator for row on the last cell */
	.list__cell:last-child {
		padding-right: 20px;
		height: 100%;
		position: relative;
	}

		/* if no indicator rest height to default */
		.list__cell--no-indicator:last-child {
			height: auto;
		}

		/* indicator */
		.list__cell:last-child:after {
			content: '';
			display: block;
			position: absolute;
			width: 10px;
			height: 100%;
			top: 0;
			right: 0;
			background: #41b64b;
			border-radius: 0 5px 5px 0;
		}

		/* hide on header */
		.list__item--off {
			background: rgba(255, 255, 255, 0.35);
		}

		/* hide on header */
		.list__item--off .list__cell:last-child:after {
			background: #b5bdc3;
			opacity: 0.35;
		}

		/* hide on header */
		/* hide on cell with no indicatro */
		.list__item--header .list__cell:last-child:after,
		.list__cell--no-indicator:last-child:after {
			display: none;
		}

	.list__cell--truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

/* info message in a cell */
/* todo - .text-small .text-center */
.list__message {
	font-size: 10px;
	line-height: 12px;
	text-align: center;
}





/* ------------------------------------ *\
 
 * Simple table - no BG, smaller height,
 * no on/off indicator

\* ------------------------------------ */

/* reset height */
.list--simple .list__item {
	height: auto;
	border-radius: 0;
	background: transparent;
}

/* remove the on/off indicator at the end */
.list--simple .list__cell:last-child { height: auto; }
.list--simple .list__cell:last-child:after { display: none; }





/* ------------------------------------ *\
 
 * Permission table

\* ------------------------------------ */

/* clear wrap padding */
.list--permisions {
	padding: 0;
}

/* vertical text in header */
.list--permisions .list__item--header .list__cell,
.list--permisions .list__item--header .list__cell:last-child {
	height: 180px;
}

/* vertical text in header */
.list--permisions .list__item--header .list__cell > div {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	width: 150px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 165px;
	left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* reset height */
.list--permisions .list__item {
	margin-top: 0;
}

.list--permisions .list__cell,
.list--permisions .list__cell:last-child {
	width: 40px;
	height: 40px;
	position: relative;
	display: flex;
	align-items: center;
	padding-right: 0;
}

/* first col with the name */
.list--permisions .list__cell.list__cell--permisions {
	flex: 1;
	padding-left: 15px;
}

/* update checkbox possition */
.list__cell--permisions-checkbox { justify-content: center; }
.list__cell--permisions-checkbox .form__row { width: auto; }
.list__cell--permisions-checkbox .form__checkbox > input + span,
.list__cell--permisions-checkbox .form__checkbox .form__checkbox__static {
	margin-right: 0;
}

/* readonly text */
.list__cell--permisions-readonly {
	opacity: 0.35;
}




