/* -------------------------------- *\
 
 * Form & Inputs

\* -------------------------------- */

/* main wrap */
.form {}
	
	/* form with no buttons */
	.form--no-buttons button {
		display: none;
	}

/* elements - inputs etc. */
.form__row,
.form__label,
.form__comment,
.form__input {
	width: 100%;
}
	
	/* margin if more then one row */
	.form__row + .form__row,
	.form__row--top-margin {
		margin-top: 20px;
	}
	
	/* margin if more then one row */
	.form__row + .form__row--extra-margin {
		margin-top: 25px;
	}

	.form__row p {
		line-height: 1.65em;
	}

	.form__row--hidden {
		display: none;
	}

	.form__row--border {
		padding: 15px;
		border-radius: 5px;
		border: 1px solid #ccc;
	}

		.form__row--border > .form__checkbox {
			display: flex;
		}

		.form__row--border:hover {
			border: 1px solid #A4A4A4;
		}

/* label */
.form__label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

/* comment */
.form__comment {
	margin-top: 10px;
	color: #aaa;
	font-size: 12px;
}
	
	/* remove label if empty */
	.form__label:empty,
	.form__comment:empty {
		display: none;
	}

/* style of the input tags */
.form__input > input[type="input"],
.form__input > input[type="password"],
.form__input > textarea,
.form__input > select,
.form__input > span,
.form__row--date div > select {
	width: 100%;
	margin: 0;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-size: 12px;
	font-family: 'Lucida Console', Monaco, monospace;
	/* clear some shit */
	/*-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;*/
	outline: 0;
	outline: none;
}

.form__input > textarea {
	padding: 10px;
	line-height: 1.5em;
}

.form__button {
	margin: 0;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	font-size: 12px;
}

.form__input > input[readonly] {
	opacity: 0.25;
}

.form__input > input[readonly]:hover {
	border: 1px solid #ccc;
}

.form__input--order {
	display: flex;
	align-items: center;
}

	.form__input--order > input[type="input"] {
		width: 100px;
		margin-right: 20px;
	}

	.form__input--order > .form__comment {
		font-size: 15px;
		line-height: 20px;
		margin-top: -3px;
	}

.form__input--social {
	display: flex;
}

.form__input--social > img {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

.form__input--url {
	display: flex;
	flex-direction: row-reverse;
}

.form__input--url > span {
	width: auto;
	border: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background: #F0F0F0;
	border-right: 0;
	padding-right: 0;
	color: silver;
	position: relative;
	font-size: 10px;
	line-height: 34px;
}

.form__input--url > span:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.form__input--url > input {
	flex: 1;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0;
}

.form__input--url > input:focus + span,
.form__input--url > input:hover + span {
	border-left: 1px solid #A4A4A4;
	border-top: 1px solid #A4A4A4;
	border-bottom: 1px solid #A4A4A4;
}




/* -------------------------------- *\
 
 * input inline with label

\* -------------------------------- */

.form__row--inline {
	display: flex;
}

.form__row--inline > .form__label {
	width: 40px;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}




/* -------------------------------- *\
 
 * date

\* -------------------------------- */

.form__row--date {}

	.form__row--date .form__input {
		display: flex;
		align-items: center;
	}

	.form__row--date select:nth-child(1),
	.form__row--date select:nth-child(5),
	.form__row--date select:nth-child(6),
	.form__row--date select:nth-child(7) {
		width: 60px;
	}

	.form__row--date select:nth-child(2) {
		flex: 1;
	}

	.form__row--date select:nth-child(3) {
		width: 80px;
	}

	.form__row--date div:nth-child(4) {
		width: 20px;
		text-align: center;
	}

	.form__row--date select + select {
		margin-left: 8px;
	}





/* -------------------------------- *\
 
 * checkbox

\* -------------------------------- */

.form__checkbox {
	display: inline-flex;
	align-items: center;
    cursor: pointer;
}
	
	/* readonly html file changes label to div */
	/* and you can't click the checkbox */
	.form__checkbox--readonly {
		opacity: 0.25;
		color: silver;
	}

.form__checkbox > input {
	display: none;
}

.form__checkbox > input + span,
.form__checkbox__static {
	display: block;
	width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    border: 1px solid #ccc;
}

	.form__checkbox:hover > input + span {
		border: 1px solid #A4A4A4;
	}

	.form__checkbox > input[type=checkbox]:checked + span,
	.form__checkbox > span[data-checked] {
		background: #41b64b;
    	border: 1px solid #41b64b;
	}

	.form__checkbox > input[type=checkbox]:checked + span:after,
	.form__checkbox > span[data-checked]:after {
		display: block;
		background: transparent;
		border: 4px solid #fff;
		border-right: none;
		border-top: none;
		content: '';
		height: 7px;
		transform: rotate(-45deg);
		width: 12px;
		position: absolute;
		left: 3px;
		top: 4px;
	}

.form__checkbox > span:nth-child(3) {
	font-weight: bold;
}




