/* -------------------------------- *\
 
 * success and error messages

\* -------------------------------- */

.message {
	position: relative;
	text-align: center;
	color: #fff;
	margin: 0 0 20px 0;
	padding: 10px 20px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}

	/* colors */
	.message--error { background: #b64741; }
	.message--success { background: #41b64b; }
	
	/* text */
	.message ul { padding: 0; }
	.message ul li { padding: 10px 0; }

	/* close X */
	.message__close {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
	}

	/* hover for close */
	.message__close:hover {
		opacity: 0.8;
		cursor: pointer;
	}

	.message__close > svg {
		width: 15px;
		height: 15px;
		display: block;
	}

/* no access message */
.no-access .message {
	margin-bottom: 0;
}

/* hide close button */
.no-access .message__close {
	display: none;
}




