/* -------------------------------- *\
 
 * Tabs

\* -------------------------------- */

.tabs {}

/* tab container */
.tabs__list {
	display: flex;
	top: 1px;
	position: relative;
}
	
	/* tab style */
	.tabs__list > div {
		padding: 20px 40px;
		cursor: pointer;
		color: #c6c6c6;
		display: inline-block;
		font-weight: bold;
		font-size: 18px;
	}

	/* active tab */
	.tabs__list > .active {
		background: #fff;
		border-style: solid;
		border-width: 1px;
		border-color: #e9e9e9;
		border-bottom-color: #fff;
		border-radius: 5px 5px 0 0;
	}

	/* text color active and hover */
	.tabs__list > .active,
	.tabs__list > div:hover {
		color: #000;
	}

	.tabs--no-tabs .tabs__list {
		display: none;
	}

/* tab content */
.tabs__content {
	background: #fff;
	display: flex;
	border: 1px solid #e9e9e9;
	padding: 40px;
	border-radius: 5px;
}
	
	/* change up border radius if first tab is active */
	.tabs__list[data-active="1"] + .tabs__content {
		border-radius: 0px 5px 5px 5px;
	}

	/* if no tabs we need all corners round */
	.tabs--no-tabs .tabs__list[data-active="1"] + .tabs__content {
		border-radius: 5px;
	}

	/* hide content default */
	.tabs__content > div {
		display: none;
		flex: 1;
	}

	/* show active */
	.tabs__content > .active {
		display: flex;
	}

	/* cols in the current content */
	.tabs__content > div > div {
		flex: 1;
	}

	/* cols in the current content */
	.tabs__content > div > div + div {
		margin-left: 40px;
	}




