/* -------------------------------- *\
 
 * Text stype

\* -------------------------------- */

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-strong {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}