/* -------------------------------- *\
 
 * User Access Table
 * Checkboxes in cells

\* -------------------------------- */

.user-access-table {
	display: table;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	margin-top: 15px;
}

.user-access-table__row {
	display: table-row;
}

.user-access-table__cell {
	display: table-cell;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	padding: 25px 50px;
	vertical-align: middle;
}