.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination > * {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-family: monospace;
	background: rgba(255, 255, 255, 1);
}

.pagination > * + * {
	margin-left: 10px;
}

.pagination > span {
	background: rgba(255, 255, 255, 0.5);
}

.pagination > a {
	color: #000;
}