/*
	
	One

*/

.color-one-bg { background-color: #545d6f; }
.color-one-fill { fill: #545d6f; }
.color-one-text { color: #545d6f; }

a.color-one-bg:hover,
.button.color-one-bg:hover {
	background-color: #4b5161;
}

.color-one-dark-bg { background-color: #4b5161; }

.color-one-light-text { color: #8a93a0; }
.color-one-light-fill { fill: #8a93a0; }

.color-one-lighter-text { color: #b5bdc3; }
.color-one-lighter-fill { fill: #b5bdc3; }
.color-one-lighter-bg { background-color: #b5bdc3; }

.color-off-fill {
	fill: #e1e4e6;
}

/*
	
	Light

*/

.color-light-text { color: #fff; }
.color-light-fill { fill: #fff; }
.color-light-bg { background-color: #fff; }

.color-light-bg-hover:hover { background-color: #fff; }
.color-light-text-hover:hover { color: #fff; }

/*
	
	Dark

*/

.color-dark-text { color: #000; }
.color-dark-fill { fill: #000; }
.color-dark-bg { background-color: #000; }

.color-dark-bg-hover:hover { background-color: #000; }
.color-dark-text-hover:hover { color: #000; }

/*
	
	Color OK

*/

.color-ok-text { color: #41b64b; }
.color-ok-fill { fill: #41b64b; }
.color-ok-bg { background-color: #41b64b; }

a.color-ok-bg:hover,
.button.color-ok-bg:hover {
	background-color: #34a03d;
}

.row--disabled .color-ok-bg {
	background: #e24500;
}

.row--disabled .button.color-ok-bg:hover {
	background: #c13b00;
}

/*
	
	Color Cancel

*/

.color-cancel-text { color: #b64741; }
.color-cancel-fill { fill: #b64741; }
.color-cancel-bg { background-color: #b64741; }

a.color-cancel-bg:hover,
.button.color-cancel-bg:hover {
	background-color: #a03933;
}

/*
	
	Erorr colors

*/

.color-error { color: #b64741; }
	
	/* inputs */
	.color-error input,
	.color-error select,
	.color-error textarea {
		border: 1px solid #b64741;
	}

	/* input hover */
	.color-error input:hover,
	.color-error select:hover,
	.color-error textarea:hover {
		border: 1px solid #7f312d;
	}

.error-message--name ~ form .module-row--name,
.error-message--name ~ form .module-row--name .module-comment,
.error-message--salary ~ form .module-row--salary,
.error-message--salary ~ form .module-row--salary .module-comment,
.error-message--phone ~ form .module-row--phone,
.error-message--phone ~ form .module-row--phone .module-comment,
.error-message--email ~ form .module-row--email,
.error-message--email ~ form .module-row--email .module-comment,
.error-message--date ~ form .module-row--date,
.error-message--date ~ form .module-row--date .module-comment,
.error-message--requirements_1 ~ form .module-row--requirements_1,
.error-message--requirements_1 ~ form .module-row--requirements_1 .module-comment,
.error-message--requirements_2 ~ form .module-row--requirements_2,
.error-message--requirements_2 ~ form .module-row--requirements_2 .module-comment,
.error-message--requirements_3 ~ form .module-row--requirements_3,
.error-message--requirements_3 ~ form .module-row--requirements_3 .module-comment,
.error-message--benefit_5 ~ form .module-row--benefit_5,
.error-message--benefit_5 ~ form .module-row--benefit_5 .module-comment,
.error-message--benefit_6 ~ form .module-row--benefit_6,
.error-message--benefit_6 ~ form .module-row--benefit_6 .module-comment,
.error-message--benefit_7 ~ form .module-row--benefit_7,
.error-message--benefit_7 ~ form .module-row--benefit_7 .module-comment {
	color: red;
}

.error-message--name ~ form .module-row--name input,
.error-message--salary ~ form .module-row--salary input,
.error-message--phone ~ form .module-row--phone input,
.error-message--email ~ form .module-row--email input,
.error-message--date ~ form .module-row--date select,
.error-message--requirements_1 ~ form .module-row--requirements_1 input,
.error-message--requirements_2 ~ form .module-row--requirements_2 input,
.error-message--requirements_3 ~ form .module-row--requirements_3 input,
.error-message--benefit_5 ~ form .module-row--benefit_5 input,
.error-message--benefit_6 ~ form .module-row--benefit_6 input,
.error-message--benefit_7 ~ form .module-row--benefit_7 input {
	border-color: red;
}

/*
	
	Color background

*/

.color-bg {
	background-color: #f2f2f2;
}

.color-bg-darker {
	background-color: #ececec;
}




