/*
	
	Main container

*/

.header {
	height: 80px;
	display: flex;
	align-items: center;
}

/*
	
	Logo

*/

	.header__logo {
		height: 20%;
	}

		.header__logo > svg {
			width: auto;
			height: 100%;
			display: block;
		}

/*
	
	Buttons

*/

.header__menu {
	display: flex;
	margin-left: auto;
	align-items: center;
}

	.header__icon {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

		.header__icon > svg {
			width: 50%;
			height: 50%;
			display: block;
		}

		.header__icon--power > svg {
			margin-bottom: 2px;
		}

		.header__icon:hover {
			-webkit-transform: scale(1.1);
					transform: scale(1.1);
		}

	.header__text {
		text-decoration: none;
		font-weight: bold;
	}




