.button,
input[type="submit"].button,
input[type="button"].button {
	text-decoration: none;
	color: #fff;
	height: 30px;
	display: inline-flex;
	align-items: center;
	padding: 0 20px;
	text-transform: uppercase;
	border-radius: 5px;
	font-family: 'arial', sans-serif;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 0.05em;
	cursor: pointer;
	border: 0;
	outline: 0;
}

	.button + .button {
		margin-left: 20px;
	}

.button-icon,
.static-icon {
	display: inline-flex;
	width: 40px;
	height: 40px;
}

	.button-icon:hover {
		-webkit-transform: scale(1.1);
				transform: scale(1.1);
	}

	.button-icon--off:hover {
		-webkit-transform: none;
				transform: none;
	}

	.button-icon--static:hover {
		-webkit-transform: none;
				transform: none;
	}

	.button-icon > svg,
	.static-icon > svg {
		display: block;
		width: 100%;
		height: 100%;
	}

	.button-icon + .button-icon {
		margin-left: 5px;
	}

	.button-icon--delete {
		width: 28px;
		height: 28px;
		margin-bottom: 2px;
	}

	.button-icon--sm {
		width: 20px;
		height: 20px;
	}

/* expand button */
.button-icon--expand {
	width: 21px;
	height: 21px;
	position: relative;
	cursor: pointer;
}
	
	/* transform plus sign to minus sign */
	.list__item--expanded .button-icon--expand .expand-line-vertical {
		display: none;
	}




