/********* MENU *********/
div.topmenucontainer {
	background: #4b5161;
	/*height: 1%;*/
	width: auto;
	margin: 0;
	padding: 0;
}
ul#nav, ul#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul#nav {
	padding-left: 10px;
}
ul#nav ul {
	border-top: none;
	border-right: 0px solid #545d6e;
	border-bottom: 0;
	border-left: 0px solid #545d6e;
}
ul#nav li {
	float: left;
	margin: 0px;
	padding: 0px;
}
ul#nav a {
	display: block;
	text-decoration: none;
}
ul#nav li a {
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	display: block;
	border-right: 1px solid #545d6e;
}
ul#nav li:hover, ul#nav li.cssHover, ul#nav a.module:hover, ul#nav a.first_module:hover , ul#nav li .selected:hover, ul#nav ul li a:hover {
	/*background:  url(themes/NCleanGrey/images/layout/nav.png) repeat-x left -50px;*/
	background: #00abaa;
	color: #fff;
}
ul#nav li a.selected {
	background: #00abaa;
	color: #fff;
}
ul#nav li ul a {
	text-align: left;
	margin: 0px;
	position: relative;
	font-weight: normal;
	color: #fff;
	border-top: 0 none;
	border-right: 0 none;
	border-left: 0 none;
	border-bottom: 1px solid #545d6e;
}
ul#nav li ul {
	background: #4b5161;
	color: #fff;
	margin: 0 0 0 -1px;
	padding: 0px;
	position: absolute;
	width: auto;
	height: auto;
	display: none;
	position: absolute;
	z-index: 999;
	opacity: 0.95;
}
ul#nav li li {
	float: none;
	margin: 0px;
	padding: 0px;
}
ul#nav li:hover ul ul, ul#nav li.cssHover ul ul {
	display: none;
}
ul#nav li:hover ul, ul#nav li.cssHover ul {
	display: block;
}
ul#nav ul li a.selected, ul#nav li ul a.module.selected, ul#nav li ul a.first_module.selected {
	background: #00abaa;
	color: #fff;
	border-right: 0 none;
	border-left: 0 none;
	border-top: 0px solid #fff;
	border-bottom: 0 none;
}
/*ul#nav li ul a.module {
	background: #E5E5E5;
	border-top: 1px solid #fff;
}
ul#nav li ul a.first_module {
	color: #000;
	background: #E5E5E5;
	border-top: 1px solid #fff;
}*/
ul#nav li.sep {
	line-height: 2px;
	border-bottom: 1px solid #333333;
}