/* ------------------------------

	CSS For Modules

------------------------------ */

/* set box sizing */
.module-wrap *, .module-wrap *:before, .module-wrap *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

	.success-message ~ form .module-wrap,
	.error-message ~ form .module-wrap {
		margin-top: 20px;
	}

	.module-wrap--edit-page {
		margin: 15px 20px 0 20px;
	}

	.pagecontainer .module-wrap {
		margin: 0 auto;
	}

	.module-wrap {
		max-width: 1625px;
	}

.module-tabs {
	top: 1px;
	position: relative;
	margin-top: 19px; /* count of that one top px */
}

	.module-col > .module-tabs { margin-top: 0; }

	.module-tabs__item {
		padding: 20px 40px;
		cursor: pointer;
		background: #fff;
		color: #c6c6c6;
		display: inline-block;
		font-weight: bold;
		font-size: 18px;
	}

		.module-tabs__item.tab-nav-active {
			border-style: solid;
			border-width: 1px;
			border-color: #e9e9e9;
			border-bottom-color: #fff;
			border-radius: 5px 5px 0 0;
		}

		.module-tabs__item.tab-nav-active,
		.module-tabs__item:hover {
			color: #000;
		}

.module-container {
	border: 1px solid #e9e9e9;
	border-radius: 0px 5px 5px 5px;
	display: none;
	padding: 40px;
	margin-bottom: 20px;
}

	.module-container.tab-content-active,
	.module-container--no-tabs {
		display: flex;
		flex-wrap: wrap;
	}

	.module-container--no-tabs {
		border-radius: 5px;
	}

	.module-container .module-container {
		padding: 0;
		border: 0;
	}

	.module-container-half {
		display: flex;
		flex-wrap: wrap;
	}

	.module-container-image {
		margin-bottom: 20px;
	}

.module-col {
	flex: 1;
}

	.module-col + .module-col {
		margin-left: 40px;
	}

	.module-col-full {
		width: 100%;
		margin-bottom: 30px;
	}

	.module-col + .module-col-full {
		margin-top: 30px;
	}

	.module-col-full:last-child {
		margin-bottom: 0;
	}

.module-col-images {
	width: 100%;
	margin-top: 40px;
	display: flex;
}

	.module-col-images > .module-row {
		flex: 1;
	}

	.module-col-images > .module-row + .module-row {
		margin-left: 40px;
	}

.module-submit {
	margin-bottom: 20px;
}

.module-col > .module-row,
.module-col > .module-title,
.module-col-full > .module-row,
.module-col-full > .module-title {
	margin-bottom: 22px;
}
.module-col > .module-row:last-of-type { margin-bottom: 0; }
.module-col-full > .module-row:last-of-type { margin-bottom: 0; }

.module-row--hidden {
	display: none;
}

.module-row--border {
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	padding: 28px 32px 10px 32px;
}

	.module-row--border > .module-row {
		margin-bottom: 22px;
	}

.module-label {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}
	
	.module-label--light-text {
		font-weight: normal;
	}

.module-input input,
.module-input textarea,
.module-input select {
	width: 100%;
	margin: 0;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	font-family: 'Lucida Console', Monaco, monospace;
}

.module-input textarea {
	padding: 10px;
	line-height: 1.5em;
}

.module-input input[readonly] {
	border: 1px solid transparent;
	background: transparent;
    color: #999;
    cursor: default;
}
	
	.module-text-read-only {
		height: 35px;
		line-height: 35px;
		padding: 0 10px;
		font-family: 'Lucida Console', Monaco, monospace;
		font-size: 1.2em;
		color: #999;
	}

.module-input textarea {
	height: 100px;
}

.module-input--small input {
	width: 100px;
}

.module-input--order input {
	width: 60px;
}

.module-input--half input {
	width: 50%;
}

.module-input--medium input {
	width: 300px;
}

.module-input--small select {
	width: 300px;
}

.module-input--date select {
	width: 50px;
}

	.module-input--date select:nth-child(1) {
		width: 120px;
	}

	.module-input--date select:nth-child(3) {
		width: 70px;
	}

.module-input--date-2 select:nth-child(1) { width: 120px; }
.module-input--date-2 select:nth-child(2) { width: 50px; }
.module-input--date-2 select:nth-child(3) { width: 70px; }
.module-input--date-2 select:nth-child(4) { width: 120px; }

.module-input--time-from-to {
	display: flex;
	align-items: center;
}

	.module-input--time-from-to > * {
		flex: 1;
	}

	.module-input--time-from-to > *:first-child {
		width: 100px;
		flex: 0 1 auto;
	}

	.module-input--time-from-to > *:nth-child(3) {
		width: 20px;
		flex: 0 1 auto;
		text-align: center;
	}
	
	.module-input.module-input--time-from-to > * + * {
		margin-left: 15px;
	}

.module-input--date-flex {
	display: flex;
}

	.module-input--date-flex > *:first-child {
		flex: 2;
	}

	.module-input--date-flex > * {
		flex: 1;
	}

		.module-input.module-input--date-flex > * + * {
			margin-left: 15px;
		}

.module-comment {
	margin-top: 12px;
	color: #999;
}

.module-input--url-preview {
	display: flex;
}

.module-input--url-preview > div {
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	font-family: 'Lucida Console', Monaco, monospace;
	background: #f5f5f5;
	color: #999;
	padding: 0 10px;
	border-radius: 5px;
	width: auto;
}

.module-input--url-preview > input {
	flex: 1;
}

.module-input > svg {
	width: 35px;
	height: 35px;
	margin-right: 10px;
	float: left;
}

.module-input > svg + input {
	width: calc(100% - 45px);
}

.module-title { font-size: 20px; font-weight: bold; }
.module-title + .module-container { margin-top: 20px; }
.module-subtitle { font-size: 18px; }

.module-container .dropzone {
	width: 100%;
}

.module-input-and-comment {
	display: flex;
	align-items: center;
}

	.module-input-and-comment > .module-input {
		margin-right: 20px;
	}

	.module-input-and-comment > .module-comment {
		margin-top: 0;
		line-height: 1.35em;
	}

.module-input--icon {
	display: flex;
	flex-direction: row-reverse;
}

	.module-input--icon .module-input__icon {
		display: none;
	}

		.module-input--icon select[data-value=""] ~ .behance { display: block; }
		.module-input--icon select[data-value="behance"] ~ .behance { display: block; }
		.module-input--icon select[data-value="draugiem"] ~ .draugiem { display: block; }
		.module-input--icon select[data-value="dribbble"] ~ .dribbble { display: block; }
		.module-input--icon select[data-value="facebook"] ~ .facebook { display: block; }
		.module-input--icon select[data-value="instagram"] ~ .instagram { display: block; }
		.module-input--icon select[data-value="linkedin"] ~ .linkedin { display: block; }
		.module-input--icon select[data-value="pinterest"] ~ .pinterest { display: block; }
		.module-input--icon select[data-value="reddit"] ~ .reddit { display: block; }
		.module-input--icon select[data-value="skype"] ~ .skype { display: block; }
		.module-input--icon select[data-value="snapchat"] ~ .snapchat { display: block; }
		.module-input--icon select[data-value="tumblr"] ~ .tumblr { display: block; }
		.module-input--icon select[data-value="tripadvisor"] ~ .tripadvisor { display: block; }
		.module-input--icon select[data-value="twitter"] ~ .twitter { display: block; }
		.module-input--icon select[data-value="vimeo"] ~ .vimeo { display: block; }
		.module-input--icon select[data-value="youtube"] ~ .youtube { display: block; }





/* ------------------------------

	Checkbox

------------------------------ */

.module-checkbox {
	display: inline-flex;
	align-items: center;
}

.module-checkbox__check {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px;
}

.module-checkbox__check > label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ccc;
}


.module-checkbox__check > label:hover {
    opacity: 0.75;
}

.module-checkbox__check > input[type=checkbox] {
    display: none;
    visibility: hidden;
}

.module-checkbox__check > input[type=checkbox]:checked + label {
    background: #41b64b;
    box-shadow: 0 0 0 1px #41b64b;
}

.module-checkbox__check > input[type=checkbox]:checked + label:after {
    background: transparent;
    border: 4px solid #fff;
    border-right: none;
    border-top: none;
    content: '';
    height: 8px;
    width: 12px;
    left: 4px;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
}

.module-checkbox__label {
	font-size: 14px;
	font-weight: bold;
}

	.module-input--light-text .module-checkbox__label {
		font-weight: normal;
	}





/* ------------------------------

	Module list in home

------------------------------ */

.module-list, .module-list *, .module-list *:after, .module-list *:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.module-list-wrap {
	background: #f6f6f6;
	padding: 40px;
	display: flex;
}

.module-list {
	flex: 1;
}

.module-list + .module-list {
	margin-left: 40px;
}

.module-list__item {
	display: flex;
	background: rgba(255, 255, 255, 1);
	width: 100%;
	border-radius: 5px;
	position: relative;
}

	.module-list__item + .module-list__item {
		margin-top: 20px;
	}

	.module-list__item:hover {
		background: rgba(255, 255, 255, 0.5);
	}

	.module-list__item--group,
	.module-list__item--group:hover {
		height: 60px;
		padding-left: 20px;
		background: rgba(255, 255, 255, 1);
	}

.module-list__icon {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

	.module-list__icon > svg {
		width: 50%;
		height: 50%;
		display: block;
	}

.module-list__item--pages .module-list__icon {
	width: 140px;
	height: 140px;
}

.module-list__content {
	flex: 1;
	display: flex;
	align-items: center;
	font-size: 18px;
	letter-spacing: 0.02em;
}

.module-list__item--group .module-list__content {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .1em;
}

.module-list__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





/* ------------------------------

	??

------------------------------ */

.module-form {
	width: 100%;
	display: block;
}

.module-store-list {
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 12px;
	line-height: 21px;
	border-bottom: 1px solid silver;
	padding-bottom: 22px;
}

.module-store-list--0 {
	border-top: 1px solid silver;
	padding-top: 22px;
}

table.module-report {
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;
	font-family: monospace;
}

	table.module-report th,
	table.module-report td {
		padding: 15px;
		text-align: center;
	}

	table.module-report th {
		background-color: #c6cad3;
		font-size: 10px;
	}

	table.module-report td {
		width: 6%;
	}

	table.module-report td span {
		color: #999;
	}

	table.module-report th:first-child,
	table.module-report td:first-child {
		width: 28%;
		font-family: 'Arial', sans-serif;
		text-align: left;
		border-radius: 5px 0 0 5px;
	}

	table.module-report th:last-child,
	table.module-report td:last-child {
		border-radius: 0 5px 5px 0;
	}

	table.module-report tr:nth-child(2n) td {
		background: #ebeef4;
	}

.success-message__name {
    font-weight: bold;
}



