/* -----------------------------

	Google search preview

----------------------------- */

.google-search-preview {
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 10px;
	font-family: "Arial", sans-serif;
}

.google-search-preview__title {
	font-size: 18px;
	line-height: 21px;
	color: #1a0dab;
}

.google-search-preview__url {
	font-size: 14px;
	line-height: 16px;
	color: #006621;
	margin: 4px 0 5px 0;
}

.google-search-preview__description {
	font-size: 13px;
	line-height: 18px;
	color: #545454;
}

.google-search-preview__seperator {
	height: 1px;
	background: #e9e9e9;
	margin: 12px 0 8px 0;
}

.google-search-preview__lenght {
	padding-top: 4px;
	font-size: 11px;
	font-family: monospace;
	color: #999;
}

.google-search-preview__info {
	margin-top: 12px;
	padding-top: 12px;
	border-top: 1px solid #e9e9e9;
	color: #999;
}




/* -----------------------------

	Facebook preview

----------------------------- */

.facebook-preview-container {
	background: #e9ebee;
	border: 1px solid #dbdcdf;
	border-radius: 5px;
	padding: 20px 0;
}

	.facebook-preview-container .image-upload { 
		border: 0;
		padding: 20px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		width: calc(100% - 40px);
		max-width: 500px;
		margin: auto;
	}

	.facebook-preview-container .image-upload > input[type="button"] {
		flex: 1;
		display: block;
		padding: 11px 0;
		background: #3B5998;
	}

	.facebook-preview-container .image-upload > input[type="button"]:hover {
		background: #2f4779;
	}

	.facebook-preview-container .image-upload > .remove-image {
		margin-right: 0;
	}

	.facebook-preview-container .image-upload__label, 
	.facebook-preview-container .image-upload__preview { 
		display: none;
	}

	.facebook-preview-container .image-upload__comment {
		width: 100%;
	}

.facebook-share-preview {}

.facebook-share-preview__share {
	font-family: 'Arial', sans-serif;
	background: #ffffff;
	width: calc(100% - 40px);
	max-width: 500px;
	margin: auto;
	border-radius: 4px;
	border: 1px solid #dddfe2;
	overflow: hidden;
}

.facebook-share-preview__image {
	position: relative;
	width: 100%;
	border-top: 1px solid #dddfe2;
	border-bottom: 1px solid #dddfe2;
	background-color: #f2f3f5;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.facebook-share-preview__image:before {
	content: '';
	display: block;
	width: 100%;
	padding-top: 52.5%;
}

.facebook-share-preview__image--no-image:after {
	content: 'NO IMAGE SET';
	display: block;
	position: absolute;
	width: 100%;
	top: calc(50% - 5px);
	left: 0;
	color: #999;
	height: 10px;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
}

.facebook-share-preview__title,
.facebook-share-preview__url,
.facebook-share-preview__description {
	background: #f2f3f5;
	padding: 0 15px;
}

.facebook-share-preview__header {
	padding: 10px 15px;
}

.facebook-share-preview__header > span {
	display: block;
}

.facebook-share-preview__header > span:nth-child(1) {
	font-size: 14px;
	line-height: 19px;
	color: #365899;
	font-weight: bold;
}

.facebook-share-preview__header > span:nth-child(2) {
	font-size: 12px;
	line-height: 16px;
	color: #616770;
}

.facebook-share-preview__url {
	font-size: 12px;
	line-height: 11px;
	color: #606770;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 8px;
}

.facebook-share-preview__title {
	font-size: 16px;
	line-height: 20px;
	color: #1d2129;
	font-weight: bold;
	padding-bottom: 5px;
}

.facebook-share-preview__description {
	font-size: 14px;
	line-height: 20px;
	color: #606770;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddfe2;
}

.facebook-share-preview__debug {
	font-size: 13px;
	line-height: 20px;
	color: #777d88;
	padding: 7px 15px;
}

.facebook-share-preview__debug > a {
	color: #777d88;
	text-decoration: underline;
}

.facebook-share-preview__debug > a:hover {
	text-decoration: none;
}

.facebook-share-preview--no-image + .module-col input[type="button"].remove-image {
	display: none;
}




