/* ------------------------------

	Image upload form

------------------------------ */

.image-upload {
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	padding: 40px;
	text-align: center;
}

	.image-upload--icon {
		background: #f6f6f6;
	}

	.image-upload--gray {
		background: #e0e0e0;
		border: 1px solid transparent;
	}

.image-upload__label {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 12px;
}

.image-upload__preview {
	overflow: hidden;
	width: 100%;
	margin: 14px 0 0 0;
}

	.image-upload__preview > img {
		height: auto;
		max-width: 100%;
		max-height: 150px;
		display: block;
		margin: auto;
	}

		.image-upload--full-width .image-upload__preview > img {
			width: 100%;
			max-height: none;
		}


	.image-upload__preview > video {
		width: 70%;
		margin: auto;
		height: auto;
		display: block;
	}

	.image-upload__preview > span {
		display: block;
		text-align: center;
		font-size: 12px;
		font-family: monospace;
		padding: 10px 0 0 0;
	}

.image-upload__input > input {
	width: 100%;
	border: 1px solid;
	background: transparent;
	font-size: 10px;
	padding: 0;
	text-align: center;
	display: none;
}

.image-upload__comment {
	font-size: 12px;
	text-align: center;
	color: #999;
	margin-bottom: 14px;
}




