.pages-table {
	width: 100%;
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
}

	table.pages-table,
	table.pages-table td,
	table.pages-table th {
		border-spacing: 0;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
	}

	table.pages-table td,
	table.pages-table th {
		height: 70px;
		border-bottom: 1px solid #e9e9e9;
	}

	table.pages-table th {
		background-color: #e9e9e9;
	}

.pages-table__icon,
.pages-table__icon-width,
.pages-table__move,
.pages-table__delete {
	text-align: center;
}

	.pages-table__icon {
		width: 60px;
	}

	.pages-table__delete {
		width: 50px;
	}

		table.pages-table td.pages-table__delete,
		table.pages-table th.pages-table__delete {
			padding-right: 10px;
		}

	.pages-table__move {
		width: 110px;
	}

		.pages-table__move .button-icon {
			margin-left: 10px;
		}

	.pages-table__template,
	.pages-table__textlink,
	.pages-table__editbutton {
		width: 130px;
	}

	.pages-table__title {
		font-size: 14px;
	}

	.pages-table__hier {
		width: 60px;
	}

	.pages-table__icon-width {
		width: 100px;
	}

	.pages-table__editbutton:first-child {
		padding-left: 20px;
	}




