[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #545d6f;
  color: #eee;
  font: 400 0.875rem/1.5 "Open Sans", sans-serif;
  margin: 0;
  min-height: 100%;
}

a {
  color: #eee;
  outline: 0;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s, box-shadow .3s;
          transition: background-color .3s, box-shadow .3s;
}

.form__field {
	margin-bottom: 20px;
}

.form__shit {
	border-radius: 0.25rem;
	overflow: hidden;
	margin-bottom: 20px;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  width: 300px;
}

.form--login label,
.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
  padding: 15px 0 0 0;
  display: inline-block;
  height: 53px;
  vertical-align: top;
}

.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
  padding: 0 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form--login label {
  background-color: #3c414f;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #4b5161;
  padding: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form--login label svg {
  fill: #fff;
  width: 21px;
  height: 21px;
}

.form--login label svg.user {
  width: 18px;
  height: 18px;
}

.form--login input[type="text"],
.form--login input[type="password"] {
  background-color: #4b5161;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;  
}

.form--login input[type="text"]:focus,
.form--login input[type="text"]:hover,
.form--login input[type="password"]:focus,
.form--login input[type="password"]:hover {
  background-color: #444957;
}

.form--login input[type="submit"] {
  background-color: #41b64b;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 350px;
  cursor: pointer;
  border-radius: 5px;
}

.form--login input[type="submit"]:focus,
.form--login input[type="submit"]:hover {
  background-color: #34a03d;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text--center {
  text-align: center;
}

.grid__container {
  margin: 0 auto;
  max-width: 20rem;
  width: 90%;
}

input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px #4b5161 inset;
	-webkit-text-fill-color: #eee;
}

input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
	-webkit-box-shadow: 0 0 0px 1000px #444957 inset;
}

.site__container {
	width: 350px;
	height: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -175px;
	margin-top: -225px;
}

.text--small {
  font-size: 0.8rem;
}

.erroLogin {
  color: red;
}

.login-text {
  display: flex;
  justify-content: center;
  padding-right: 3px;
}

.login-text svg {
  fill: #fff;
  width: 80px;
  height: 80px;
}

.login-text img {
  margin-left: 25px;
}




