<div class="section">

	<div class="header-space"></div>
	<div class="header-space"></div>

	<div class="wrap">

		<div class="contacts">

			<div class="contacts__col  contacts__col--left  relative  padding-h-large  padding-t-large">
				<div class="image-fancy  image-fancy--contacts">
					<div></div>
					<div class="contacts__floating-bg  image--contacts"></div>
					<div class="image  image--contacts  image--fancy  images-load-js">
						<img class="images-set-position-js" src="assets/images/sergey-zolkin-_UeY8aTI6d0-unsplash-scaled.jpg" alt="" />
					</div>
				</div>
				<ul class="contacts__list  text  text-default">
					{{c_address}}<li>
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 23 23" xml:space="preserve"> <path d="M11.5,0.5c4.4,0,8,3.7,8,8.1c0,3.3-1.9,6.8-3.9,9.5c-1,1.3-2,2.5-2.8,3.3c-0.4,0.4-0.8,0.7-1,0.9c-0.1,0.1-0.2,0.1-0.3,0.2 c-0.1,0-0.2-0.1-0.3-0.2c-0.3-0.2-0.6-0.5-1-0.9c-0.8-0.8-1.8-1.9-2.8-3.3c-2-2.7-3.9-6.2-3.9-9.5C3.5,4.2,7.1,0.5,11.5,0.5z M11.4,22.5L11.4,22.5L11.4,22.5z M11.6,22.5L11.6,22.5L11.6,22.5z M11.5,5.2c-1.8,0-3.3,1.5-3.3,3.4S9.7,12,11.5,12 s3.3-1.5,3.3-3.4C14.8,6.8,13.3,5.2,11.5,5.2z"/> </svg>
						<span>{{c_address}}</span>
					</li>{{/c_address}}
					{{c_phone}}<li>
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve"> <path d="M17.4,17.8l-1.8-3.3c-0.3-0.5-1-0.6-1.4-0.3l-1.6,1c-1.9-1.4-3.9-5-4.1-7.4l1.6-1c0.5-0.3,0.7-1,0.4-1.5L8.8,2 C8.5,1.5,7.9,1.3,7.4,1.6l-1.6,1c-2.7,1.6-0.1,8.7,1.2,11s5.7,8.2,8.4,6.6l1.6-1C17.4,18.9,17.7,18.3,17.4,17.8z"/> </svg>
						<span>{{c_phone}}</span>
					</li>{{/c_phone}}
					{{c_email}}<li>
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 21 21" style="enable-background:new 0 0 21 21;" xml:space="preserve"> <path d="M3.7,4.8C3.5,4.8,3.3,4.9,3.1,5l6.9,6.8c0.3,0.3,0.7,0.3,1,0L18,5c-0.2-0.2-0.5-0.2-0.7-0.2H3.7z M2.6,5.6 c0,0.2-0.1,0.3-0.1,0.5v8.8c0,0.3,0.1,0.5,0.2,0.7l4.9-5L2.6,5.6z M18.4,5.6l-5,4.9l4.9,5c0.2-0.2,0.2-0.5,0.2-0.7V6.1 C18.5,5.9,18.5,5.8,18.4,5.6z M12.8,11.2l-1.2,1.2C11,13,10,13,9.4,12.4l-1.2-1.2l-4.9,5c0.2,0.1,0.2,0.1,0.4,0.1h13.6 c0.2,0,0.3,0,0.4-0.1L12.8,11.2z"/> </svg>
						<a href="mailto:{{c_email}}">{{c_email}}</a>
					</li>{{/c_email}}
				</ul>
			</div>
			
			<div class="contacts__col  contacts__col--right  margin-l-xlarge">
				
				<div class="form  text  padding-all-large">

					<h1 class="title-xlarge  margin-b-half">
						{{title}}
					</h1>

					<div class="text-default  margin-b">
						{{subtitle}}
					</div>

					<form method="post">
						{{name}}
						{{email}}
						{{phone}}
						{{company}}
						
						<div class="margin-b-half"><div class="form__label">{{company_size}} <span class="color-error-text">*</span></div></div>
						<div class="form__radio-container">{{size}}</div>

						{{position}}
						{{text}}
						<div class="text-right  padding-t-half">
							<button class="button  button--inline  button--fancy">
								{{submit_button}}
							</button>
						</div>
					</form>

				</div>


			</div>

		</div>

	</div>

</div>