<div class="section">

	<div class="header-space"></div>
	<div class="header-space"></div>

	<div class="wrap">

		<div class="contacts">

			<div class="contacts__col  contacts__col--left  relative  padding-h-large  padding-t-large">
				<div class="image-fancy  image-fancy--contacts">
					<div></div>
					<div class="contacts__floating-bg  image--contacts"></div>
					<div class="image  image--contacts  image--fancy  images-load-js">
						<img class="images-set-position-js" src="assets/images/sergey-zolkin-_UeY8aTI6d0-unsplash-scaled.jpg" alt="" />
					</div>
				</div>
			</div>
			
			<div class="contacts__col  contacts__col--right  margin-l-xlarge">
				
				<div class="form  text  padding-all-large">

					<h1 class="title-xlarge  margin-b-half">
						Your message has been sent successfuly!
					</h1>

					<h2 class="text-default  margin-b">
						If you have any questions just ask. We are here to help you. We’re happy to answer any questions you may have.
					</h2>

				</div>


			</div>

		</div>

	</div>

</div>