<!-- cookies -->
<div class="cookies  cookies--off  card  color-main-bg  color-white-text  padding-v-medium  padding-h-large">
	
	<div class="margin-b  text">
		<p>{{cookies_text}}</p>
	</div>

	<div class="cookies__buttons  padding-b-half">
		
		<button onclick="cookiesAccept(this); return false;" class="button  button--white  margin-r">{{cookies_accept}}</button>
		{{privacy_text}}<a href="{{privacy_link}}" class="button  button--border">{{privacy_text}}</a>{{/privacy_text}}

 	</div>

</div>