<div class="question{{class}}  slide-toggle-parent  slide-toggle-parent--closed" data-parent="{{parent}}">
	<div class="padding-all">
		<div class="question__title  text  text-medium  padding-r">
			<div onclick="toggleSlide.call(this); return false;">
				{{title}}
			</div>
		</div>
		<div class="question__open" onclick="toggleSlide.call(this); return false;">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"> <path d="M16,31C7.7,31,1,24.3,1,16S7.7,1,16,1s15,6.7,15,15S24.3,31,16,31z M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14 S23.7,2,16,2z"/> <path d="M21,16c0,0.3-0.2,0.5-0.5,0.5h-9c-0.3,0-0.5-0.2-0.5-0.5 c0-0.3,0.2-0.5,0.5-0.5h9C20.8,15.5,21,15.7,21,16z"/> <path d="M16,21c-0.3,0-0.5-0.2-0.5-0.5v-9c0-0.3,0.2-0.5,0.5-0.5 c0.3,0,0.5,0.2,0.5,0.5v9C16.5,20.8,16.3,21,16,21z"/> </svg>
		</div>
	</div>
	<div class="slide-toggle  slide-toggle--closed">
		<div class="question__answer  padding-l  padding-r-large  margin-b-large  margin-t-half  margin-h-large  text  text-default">
			{{text}}
		</div>
	</div>
</div>