<section class="section">

	<div class="header-space"></div>

	<div class="wrap">
		<div class="features-block  relative">
			<div>{{image}}</div>
			<div class="padding-v-large  padding-h-xlarge  text  relative">
				<h2 class="title-default  margin-b-large">
					{{title}}
				</h2>
				<div class="features-block__list  text-default">
					{{items}}
				</div>
			</div>
		</div>
	</div>

</section>