<section class="section  section--home-features">

	<div class="header-space"></div>
	
	<div class="wrap  wrap--small">

		<div class="text  features-title  title">
			<h2 class="title-default  text-right  margin-r-large  padding-r-large">{{title}}</h2>
			<div class="text-default">{{text}}</div>
		</div>

	</div>

	{{items}}<div class="features  relative">

		<div class="wrap  wrap--small  relative">

			<span class="background-circle  text-left">
				<span></span>
			</span>

			{{items}}

		</div>

	</div>{{/items}}

</section>