<header class="header{{class}}  padding-h-half  padding-t-half">
	
	<div class="header__content  padding-h-medium">

		<a class="logo  margin-r-xlarge" href="">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 39" xml:space="preserve"> <path d="M29.2,0H9C4,0,0,4,0,9v20.2c0,5,4,9,9,9h20.2c5,0,9-4,9-9V9C38.2,4,34.2,0,29.2,0z M17.1,24.9 c-0.8,0.9-1.9,1.5-3.1,1.5H5.6c-1.1,0-2-0.9-2-2v-3.3c0-1.1,0.9-2,2-2h16.2L17.1,24.9z M34.6,17.1c0,1.1-0.9,2-2,2H21.9l4.7-5.8 c0.8-1,1.9-1.5,3.1-1.5h2.9c1.1,0,2,0.9,2,2V17.1z"/> <path d="M60.5,33.2V19h-2.4v-2.8h2.4v-1.6c0-0.9,0.1-1.7,0.4-2.5c0.2-0.7,0.6-1.3,1.1-1.8s1.1-0.9,1.7-1.1c0.7-0.3,1.5-0.4,2.3-0.4 c0.3,0,0.7,0,1,0.1s0.6,0.1,1,0.2l-0.1,3c-0.2,0-0.4-0.1-0.6-0.1s-0.5,0-0.7,0c-0.8,0-1.4,0.2-1.9,0.7c-0.4,0.5-0.6,1.1-0.6,2v1.6 h3.2V19H64v14.2H60.5z"/> <path d="M78.3,33.2c-0.1-0.2-0.2-0.5-0.2-0.7c-0.1-0.3-0.1-0.6-0.2-0.9c-0.2,0.3-0.5,0.5-0.8,0.7s-0.6,0.4-0.9,0.6 c-0.4,0.2-0.7,0.3-1.1,0.4c-0.4,0.1-0.8,0.2-1.3,0.1c-0.7,0-1.5-0.1-2.1-0.4c-0.6-0.2-1.2-0.6-1.7-1.1c-0.5-0.5-0.8-1-1.1-1.6 c-0.3-0.6-0.4-1.3-0.4-2c0-0.8,0.1-1.7,0.5-2.4c0.3-0.7,0.8-1.3,1.4-1.8c0.7-0.5,1.4-0.9,2.2-1.1c1-0.3,2-0.4,3-0.4h2.2v-1.1 c0-0.9-0.2-1.6-0.7-2.1c-0.4-0.5-1.1-0.8-2.1-0.8c-0.4,0-0.8,0.1-1.1,0.2c-0.3,0.1-0.6,0.3-0.9,0.5c-0.2,0.2-0.4,0.4-0.5,0.7 c-0.1,0.3-0.2,0.6-0.2,0.9h-3.5c0-0.7,0.2-1.3,0.5-1.9s0.8-1.2,1.3-1.7c0.6-0.5,1.3-0.9,2-1.2c1.6-0.6,3.4-0.6,5.1-0.1 c0.7,0.2,1.3,0.6,1.9,1.1c0.5,0.5,1,1.1,1.3,1.8c0.3,0.8,0.5,1.7,0.4,2.6v7.6c0,1.5,0.2,2.8,0.6,3.7v0.3L78.3,33.2z M74.5,30.5 c0.4,0,0.8-0.1,1.1-0.2c0.3-0.1,0.7-0.3,0.9-0.5c0.3-0.2,0.5-0.4,0.7-0.7c0.2-0.2,0.4-0.5,0.5-0.7v-3.2h-1.9c-1.3,0-2.3,0.2-2.9,0.7 c-0.3,0.2-0.6,0.5-0.7,0.9C72.1,27.2,72,27.6,72,28c0,0.3,0.1,0.7,0.2,1s0.3,0.6,0.5,0.8c0.2,0.2,0.5,0.4,0.8,0.5 S74.1,30.5,74.5,30.5z"/> <path d="M93.1,28.6c0-0.3,0-0.5-0.1-0.8s-0.3-0.5-0.5-0.7c-0.3-0.2-0.6-0.4-1-0.6c-0.6-0.2-1.1-0.4-1.7-0.5 c-0.8-0.2-1.5-0.4-2.3-0.7c-0.6-0.3-1.2-0.6-1.8-1c-0.5-0.4-0.9-0.9-1.1-1.4c-0.3-0.6-0.4-1.2-0.4-1.9c0-0.7,0.1-1.4,0.4-2 s0.7-1.2,1.2-1.6c0.6-0.5,1.2-0.9,1.9-1.1c0.8-0.3,1.6-0.4,2.5-0.4s1.8,0.1,2.6,0.4c0.7,0.2,1.4,0.6,2,1.2c0.5,0.5,0.9,1.1,1.2,1.7 c0.3,0.7,0.4,1.4,0.4,2.1h-3.5c0-0.3-0.1-0.7-0.2-1s-0.3-0.6-0.5-0.8c-0.2-0.3-0.5-0.4-0.9-0.6s-0.8-0.2-1.2-0.2 c-0.4,0-0.8,0.1-1.1,0.2c-0.3,0.1-0.6,0.3-0.8,0.5c-0.2,0.2-0.4,0.4-0.5,0.7c-0.1,0.3-0.2,0.5-0.2,0.8s0,0.5,0.1,0.8 c0.1,0.2,0.3,0.5,0.5,0.6c0.3,0.2,0.6,0.4,1,0.5c0.5,0.2,1,0.3,1.6,0.4c0.8,0.2,1.6,0.4,2.4,0.7c0.6,0.2,1.3,0.6,1.8,1 s0.9,0.9,1.1,1.4c0.3,0.6,0.4,1.3,0.4,2s-0.1,1.4-0.4,2.1c-0.3,0.6-0.7,1.2-1.3,1.6c-0.6,0.5-1.3,0.8-2,1.1 c-0.8,0.3-1.7,0.4-2.6,0.4c-1,0-1.9-0.1-2.8-0.5c-0.8-0.3-1.5-0.7-2.1-1.3c-0.5-0.5-1-1.1-1.3-1.8c-0.3-0.6-0.4-1.3-0.4-2h3.4 c0,0.5,0.1,0.9,0.3,1.3c0.2,0.3,0.4,0.6,0.7,0.9c0.3,0.2,0.6,0.4,1,0.5s0.8,0.1,1.1,0.1c0.9,0,1.6-0.2,2.1-0.6 c0.2-0.2,0.4-0.4,0.5-0.6S93.1,28.9,93.1,28.6z"/> <path d="M103.8,12v4.1h2.7V19h-2.7v9.5c0,0.3,0,0.6,0.1,0.9c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.3,0.2,0.5,0.3 c0.2,0.1,0.4,0.1,0.7,0.1c0.2,0,0.5,0,0.7-0.1c0.2,0,0.4-0.1,0.5-0.1v3c-0.3,0.1-0.6,0.2-1,0.2c-0.4,0.1-0.9,0.1-1.3,0.1 c-0.5,0-1.1-0.1-1.6-0.3s-0.9-0.4-1.3-0.8c-0.4-0.4-0.7-0.9-0.8-1.5c-0.2-0.7-0.3-1.5-0.3-2.2V19h-2.6v-2.8h2.6V12H103.8z"/> <path d="M113.2,33.2h-1.7V9h1.7V33.2z"/> <path d="M126.9,33.2c-0.1-0.3-0.2-0.7-0.2-1.1c-0.1-0.4-0.1-0.9-0.1-1.3c-0.3,0.4-0.6,0.7-0.9,1c-0.4,0.3-0.8,0.6-1.2,0.8 c-0.5,0.3-0.9,0.4-1.4,0.6c-0.6,0.2-1.1,0.2-1.7,0.2c-0.7,0-1.4-0.1-2.1-0.4c-0.6-0.2-1.1-0.6-1.6-1c-0.4-0.4-0.8-1-1-1.5 c-0.3-0.7-0.4-1.4-0.4-2.1s0.2-1.4,0.5-2.1s0.8-1.3,1.4-1.7c0.7-0.5,1.4-0.9,2.2-1.1c1-0.3,2-0.4,3-0.4h3.2v-1.9 c0-1.2-0.3-2.2-1-2.9c-0.7-0.7-1.7-1-3-1c-0.6,0-1.1,0.1-1.7,0.3c-0.5,0.2-0.9,0.4-1.3,0.7c-0.4,0.3-0.6,0.7-0.9,1.1 c-0.2,0.4-0.3,0.9-0.3,1.3h-1.7c0-0.6,0.2-1.3,0.4-1.9c0.3-0.6,0.7-1.2,1.2-1.6c0.6-0.5,1.2-0.9,1.9-1.1c0.8-0.3,1.6-0.4,2.4-0.4 s1.5,0.1,2.3,0.3c0.7,0.2,1.3,0.6,1.8,1c0.5,0.5,0.9,1.1,1.2,1.7c0.3,0.8,0.4,1.6,0.4,2.4v8.3c0,0.3,0,0.6,0,0.9s0.1,0.6,0.1,0.9 s0.1,0.6,0.2,0.8c0,0.2,0.1,0.5,0.2,0.7v0.2L126.9,33.2z M121.5,31.9c0.6,0,1.2-0.1,1.7-0.3c0.5-0.2,1-0.4,1.4-0.7 c0.4-0.3,0.8-0.7,1.1-1.1c0.3-0.4,0.6-0.8,0.8-1.3v-3.7h-2.9c-0.8,0-1.6,0.1-2.4,0.3c-0.6,0.1-1.2,0.4-1.8,0.7 c-0.4,0.3-0.8,0.7-1.1,1.2c-0.3,0.5-0.4,1-0.4,1.6c0,0.4,0.1,0.9,0.2,1.3c0.2,0.4,0.4,0.8,0.7,1.1c0.3,0.3,0.7,0.6,1.1,0.7 C120.5,31.8,121,31.9,121.5,31.9z"/> <path d="M134.8,29.3l0.3,1.5l0.3-1.5l3.7-13h1.5l3.7,12.9l0.4,1.8l0.3-1.7l3.2-13.1h1.8l-4.5,17H144l-4-13.5l-0.2-0.9l-0.2,0.9 l-3.9,13.5h-1.5l-4.5-17h1.8L134.8,29.3z"/> </svg>
		</a>

		<div class="header__mobile-bg  absolute"></div>

		<nav class="menu">
			{{menu}}
		</nav>

		{{lang}}

		<div class="header__right">
			{{header_link}}<a class="margin-l-medium" href="{{header_link}}">{{header_link_text}}</a>{{/header_link}}
			{{header_cta}}<a class="button  button--inline  margin-l-medium" href="{{header_cta}}">{{header_cta_text}}</a>{{/header_cta}}
		</div>

		<!--

			Hamburger

		-->
		<button class="hamburger  hamburger--spin" type="button"
		onclick="toggleMobileMenu(this); return false;"
		data-menu-class="menu" data-menu-class-open="menu--open"
		data-active-class="is-active">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>

		<!--

			Mobile logo

		-->
		<a class="logo-mobile" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 39" xml:space="preserve"> <path d="M29.2,0H9C4,0,0,4,0,9v20.2c0,5,4,9,9,9h20.2c5,0,9-4,9-9V9C38.2,4,34.2,0,29.2,0z M17.1,24.9 c-0.8,0.9-1.9,1.5-3.1,1.5H5.6c-1.1,0-2-0.9-2-2v-3.3c0-1.1,0.9-2,2-2h16.2L17.1,24.9z M34.6,17.1c0,1.1-0.9,2-2,2H21.9l4.7-5.8 c0.8-1,1.9-1.5,3.1-1.5h2.9c1.1,0,2,0.9,2,2V17.1z"/> </svg>
		</a>

	</div>

</header>

{{submenu}}<div class="submenu">
	<ul class="relative  text  text-default">
		{{submenu}}
	</ul>
</div>{{/submenu}}

{{wrap_full}}<div class="wrap-full">{{/wrap_full}}