<div class="lang  relative">
	<div class="lang__dropdown">
		{{items}}
	</div>
	<div class="lang__menu  relative">
		<svg class=lang__globe xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"> <path d="M437.02,74.98C388.668,26.629,324.38,0,256.001,0S123.333,26.629,74.982,74.98S0,187.62,0,256.001 S26.63,388.668,74.981,437.02C123.332,485.371,187.621,512,256,512s132.667-26.629,181.019-74.98 C485.372,388.668,512,324.381,512,256S485.372,123.333,437.02,74.98z M415.843,96.159c13.67,13.669,25.362,28.787,34.957,44.999 h-99.512c-4.388-22.123-10.069-42.641-16.95-60.876c-6.404-16.969-13.704-31.421-21.707-43.207 C351.341,47.017,386.841,67.156,415.843,96.159z M331.998,256c0,29.053-1.967,57.247-5.725,83.511H185.729 c-3.759-26.265-5.724-54.459-5.724-83.511c0-29.562,2.035-58.238,5.924-84.894h140.145 C329.962,197.763,331.998,226.438,331.998,256z M256.001,29.949c17.111,0,35.921,22.77,50.316,60.908 c5.719,15.152,10.549,32.069,14.425,50.3H191.259c3.875-18.231,8.705-35.148,14.425-50.3 C220.079,52.719,238.889,29.949,256.001,29.949z M96.159,96.158c29.002-29.003,64.502-49.142,103.213-59.084 c-8.003,11.786-15.303,26.239-21.707,43.207c-6.882,18.235-12.564,38.753-16.951,60.876H61.201 C70.797,124.946,82.489,109.827,96.159,96.158z M29.95,256.001c0-29.576,5.655-58.281,16.43-84.894h109.321 c-3.709,26.892-5.647,55.521-5.647,84.894c0,28.868,1.869,57.023,5.454,83.511H45.827C35.414,313.288,29.95,285.065,29.95,256.001 z M96.159,415.841c-14.057-14.056-26.02-29.646-35.764-46.381h100.046c4.424,22.651,10.198,43.644,17.223,62.258 c6.405,16.969,13.704,31.421,21.707,43.207C160.661,464.983,125.161,444.844,96.159,415.841z M256.001,482.051 c-17.112,0-35.921-22.77-50.316-60.908c-5.863-15.533-10.788-32.925-14.711-51.683h130.054 c-3.923,18.757-8.848,36.149-14.711,51.683C291.922,459.282,273.112,482.051,256.001,482.051z M415.843,415.842 c-29.003,29.003-64.502,49.142-103.213,59.084c8.003-11.786,15.303-26.239,21.707-43.207 c7.025-18.615,12.799-39.607,17.223-62.258h100.047C441.862,386.196,429.899,401.785,415.843,415.842z M356.492,339.511 c3.586-26.488,5.455-54.644,5.455-83.511c-0.001-29.372-1.939-58.003-5.647-84.894h109.322 c10.775,26.613,16.43,55.318,16.43,84.894c0,29.066-5.464,57.287-15.877,83.511H356.492z"/> </svg>
		<span class="text-upper">{{name}}</span>
		<svg class="lang__down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 123.959 123.958" xml:space="preserve"> <path d="M117.979,28.017h-112c-5.3,0-8,6.4-4.2,10.2l56,56c2.3,2.3,6.1,2.3,8.401,0l56-56 C125.979,34.417,123.279,28.017,117.979,28.017z"/> </svg>
	</div>
</div>