<section class="section  section--subscribe">
	
	<div class="header-space"></div>

	<div class="wrap">
		<div class="subscribe  relative">
			<div class="subscribe__image">
				{{img_desktop}}<img src="{{img_desktop}}" alt="{{img_desktop_alt}}" />{{/img_desktop}}
				{{img_mob}}<img src="{{img_mob}}" alt="{{img_mob_alt}}" />{{/img_mob}}
			</div>
			<div class="subscribe__content  padding-l-xlarge  absolute">
				<div class="text  text-xlarge  text-strong  margin-b">
					{{title}}
				</div>
				<form class="subscribe__form" action="#" method="post">
					<input type="text" value="johndowe@gmail.com" name="subscribe_email" />
					<button class="button">Subscribe</button>
				</form>
			</div>
		</div>
	</div>

</section>