<div class="form__row{{class}}{{error}} form__row--error{{/error}}{{color}}  color-{{color}}-input{{/color}}">
	{{label}}
	<div class="form__input">
		<input type="{{type}}" name="{{name}}" value="{{value}}"{{id}} id="{{id}}"{{/id}}{{length}} maxlength="{{length}}"{{/length}}{{placeholder}} placeholder="{{placeholder}}"{{/placeholder}} />
	</div>
	{{comment}}{{error_message}}
</div>