<div class="form__row  form__row--number{{class}}{{error}} form__row--error{{/error}}  color-{{color}}-input">
	{{label}}
	<div class="form__input">
		<input type="tel" name="{{name}}" value="{{value}}"{{id}}id="{{id}}"{{/id}}{{length}}maxlength="{{length}}"{{/length}}{{placeholder}} placeholder="{{placeholder}}"{{/placeholder}} />
	</div>
	{{comment}}{{error_message}}
</div>