<div class="form__row  form__row--file{{class}}{{error}} form__row--error{{/error}}  color-{{color}}-input">
	{{label}}
	<div class="form__input">
		<label class="{{class_button}}"{{id}} for="{{id}}"{{/id}}>{{choose_button}}</label>
		<input data-custom-input="file" data-file-text="{{files_added}}" type="file" name="{{name}}{{multiple}}[]{{/multiple}}"{{id}} id="{{id}}"{{/id}}{{file_types}} accept="{{file_types}}"{{/file_types}}{{multiple}} multiple="multiple" data-max-files="{{multiple}}"{{/multiple}}{{file_size}} data-size-files="{{file_size}}"{{/file_size}} />
		<div class="form__file">
			{{choose_text}}
		</div>
	</div>
	{{comment}}{{error_message}}
</div>