<div class="form__row  form__row--number  form__row--step{{class}}{{error}} form__row--error{{/error}}  color-{{color}}-input">
	{{label}}
	<div class="form__input">
		<input type="number" class="number-step-js" name="{{name}}" value="{{value}}"{{id}}id="{{id}}"{{/id}}{{length}}maxlength="{{length}}"{{/length}}{{placeholder}} placeholder="{{placeholder}}"{{/placeholder}}{{step}} step="1" data-step="{{step}}"{{/step}}{{min}} min="{{min}}"{{/min}}{{max}} max="{{max}}"{{/max}} />
		<div class="form__input__plus  color-gray-bg">+</div>
		<div class="form__input__minus  color-gray-bg">-</div>
	</div>
	{{comment}}{{error_message}}
</div>