<div class="form__row{{class}}{{class}}{{error}}  form__row--error{{/error}}  color-{{color}}-input">
	<label class="form__radio"{{id}} for="{{id}}_{{value}}"{{/id}}>
		<input type="radio" name="{{name}}" value="{{value}}"{{id}} id="{{id}}_{{value}}"{{/id}}{{checked}} checked="checked"{{/checked}} />
		<div class="form__radio__check">
			<!-- unchecked -->
			<div>
				<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
			</div>
			<!-- checked -->
			<div>
				<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
				<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
			</div>
		</div>
		{{label}}
	</label>
	{{comment}}{{error_message}}
</div>