<div class="form__row{{class}}{{error}} form__row--error{{/error}}  color-{{color}}-input">
	{{label}}
	<div class="form__input">
		<textarea data-url="{{url}}" name="{{name}}"{{id}} id="{{id}}"{{/id}}{{placeholder}} placeholder="{{placeholder}}"{{/placeholder}}>{{value}}</textarea>
	</div>
	{{comment}}{{error_message}}
</div>