<section class="section">
	
	<div class="header-space"></div>

	<div class="wrap">
		<div class="text  text-center  margin-b-medium  title">
			<h2 class="title-default  margin-b-half">{{title}}</h2>
			<div class="text-default">{{text}}</div>
		</div>

		<div>
			{{items}}
		</div>
	</div>

</section>