@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

html,
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 1.55em;
	background-color: #39353b;
	color: #fff;
}

.color-main-text { color: #d2007d; }

h2, h3 { font-weight: normal; }

.text .text-default, .text p, .text ul { font-size: 3vw; }
.text .text-xlarge  { font-size: calc(3vw * 3.5); }
.text .text-large   { font-size: calc(3vw * 1.45); }
.text .text-medium  { font-size: calc(3vw * 1.15); }
.text .text-small   { font-size: calc(3vw / 1.25); }
.text .text-xsmall  { font-size: calc(3vw / 2.00); }

p {
	line-height: 1.5em;
	margin-top: 0;
}

p:not(:last-child) { margin-bottom: 21px; }
p.text-medium:not(:last-child) { margin-bottom: 18px; }
p.text-large:not(:last-child) { margin-bottom: 15px; }

.text-upper {
	text-transform: uppercase;
}

.text-strong {
	font-weight: bold;
}

.text-large {
	font-weight: normal;
}